/*############################################################################################
Copyright © Anglia Ruskin University 2009
Text and layout styles for layout pages and controls.
############################################################################################*/

/*############################################################################################

	page grid
	
############################################################################################*/
.container-220
{
	display:inline;
	width:220px;
	float:left;
	margin:5px 5px;
}

.container-460
{
	display:inline;
	width:460px;
	float:left;
	margin:5px 5px;
 	/* background-color:#ffffcc; */
}

.container-700
{
	display:inline;
	width:700px;
	float:left;
	margin:5px 5px;
	/* background-color:#33ffff; */
}

/*############################################################################################

	Main page content

############################################################################################*/

#main-content
{
	margin: 0 10px;
}

.portlet
{
	background: #f4fdff;
	border-top: 1px solid #4fbad4;
	border-right: 1px solid #4fbad4;
	border-bottom: 2px solid #4fbad4;
	border-left: 1px solid #4fbad4;
	margin-bottom:20px;
	padding: 0px 0px 1.2em 0px;
}

.portlet h1
{
	border-bottom: solid 3px #ebebeb;
	margin:0.5em 0.75em;
}

.portlet h2
{	
	background: #16c7f3 url(/templates/portal/images/standard_box_gradient.gif) repeat-x top left;
	font-size: 12px;
	color: #fff;
	padding: 8px 15px 8px 15px;
	margin: 0px 0px 12px 0px;
}

.portlet h3
{	
	margin:3px 15px;
}

.portlet h4
{
	margin:3px 15px;
}

.portlet p
{
	color: #4c4c4c;
	margin:0px 15px 10px 15px;
}

.portlet ul
{
	padding: 0 16px;
	list-style: disc;
}

.portlet ol
{
	padding:0 35px;
}

.portlet li 
{
	padding: 2px 0;
}

.portlet a:link, .portlet a:visited 
{
	color: #1b74d0;
}

portlet fieldset 
{
	margin: 0px 15px;
}

.portlet fieldset label {
	font-weight: bold;
}


/*############################################################################################

	standardised boxes (blue)

############################################################################################*/


/* #student-retention-and-feedback h2, #application-links h2, #academic-staff-support h2, #all-staff-support h2, #administrative-information h2 
{
	background: #16c7f3 url(/templates/portal/images/standard_box_gradient.gif) repeat-x top left;
} 

#student-retention-and-feedback, #application-links, #academic-staff-support, #all-staff-support, #administrative-information 
{
	background: #f4fdff;
	border-top: 1px solid #4fbad4;
	border-right: 1px solid #4fbad4;
	border-bottom: 2px solid #4fbad4;
	border-left: 1px solid #4fbad4;
}*/

#student-retention-and-feedback ul, 
#application-links ul, 
#academic-staff-support ul, 
#all-staff-support ul, 
#administrative-information ul,
#instructions-and-information ul,
#essential-informationkey-documents ul
{
	list-style: none;
}

#student-retention-and-feedback ul li, 
#application-links ul li, 
#academic-staff-support ul li, 
#all-staff-support ul li, 
#administrative-information ul li,
#instructions-and-information ul li,
#essential-informationkey-documents ul li
{
	background: url(/templates/portal/images/external_app.gif) no-repeat top left;
	padding-left: 20px;
}


/*############################################################################################

	student timetable components

############################################################################################*/

#student-timetable p 
{
	margin-top: 10px;
}

#student-timetable h3 
{	
	line-height: 15px;
	margin-top: 15px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #999;
}

#student-timetable ul 
{
	list-style: none;
}

#student-timetable ul li 
{
	color: #666;
	padding: 0;
	margin: 0 15px 0 10px
}

#pastToggle  
{
	margin-top: 15px;
}

/*############################################################################################

	library components

############################################################################################*/

#university-library-borrowing-record, #university-library-quick-search
{
	background: #fef8ed;
	border-top: 1px solid #c9b58d;
	border-right: solid 1px #c9b58d;
	border-bottom: solid 2px #c9b58d;
	border-left: solid 1px #c9b58d;
}

#university-library-borrowing-record h2, #university-library-quick-search h2 
{
	margin-bottom: 10px;
	background: #b0945b url(/templates/portal/images/library_h2_gradient.gif) repeat-x top left;
}

#university-library-borrowing-record ol li {
	margin-bottom: 2px;
}

p#university-library-account-balance 
{
	text-align: center;
	background: #f0dec1;
	border: 1px solid #ddc49b;
	padding: 4px 3px 4px 3px;
}

#library-search-field
{
	/* width: 180px; */
	border: 1px solid #999;
	margin:5px 0px;
	padding: 3px;
}

#library-search-type-select 
{
	/* width: 187px; */
	margin:5px 0px;
	border: 1px solid #999;
	padding: 2px;
}

#library-search-button 
{
	padding:3px;
}

#university-library-account-balance
{
  border:solid #cccccc 1px;
  background-color:#ffeef6;
  padding: 2px;
}

#university-library-books-onloan
{
}

#university-library-books-onloan ol li
{
	font-weight:bold;
	padding: 0.25em 0;
}

p.due-date
{
	font-weight:normal;
	margin: 0;
}

/*############################################################################################

	search components - directory search

############################################################################################*/

/* Specific header and box colours */
#university-directory-search h2 
{
	background: #b8294e url(/templates/portal/images/staff_search_h2_gradient.gif) repeat-x top left;
}

#university-directory-search
{
	background: #ffe9ef;
	border-top: solid 1px #b8294e;
	border-right: solid 1px #b8294e;
	border-left: solid 1px #b8294e;
	border-bottom: solid 2px #e35c7f;
}

#university-directory-search ul {
	padding: 0 16px;
	list-style: none;
}

#university-directory-search li 
{
	font-size: 11px;
	margin: 0;
}

#university-directory-search-field 
{
	/* width: 180px; */
	border: 1px solid #999;
	margin:5px 0;
	padding: 3px;
}

#university-directory-search-button
{
	padding:3px;
	margin: 0 0 6px 0;
}


/*

#university-directory-search-field
{
	border:2px solid #d2d2d2;	
}

#university-directory-search-button
{
	margin-top:5px;
	padding:5px;
}

#university-directory-search fieldset
{
	border:0 none;
}

#university-directory-search legend
{
	display:none;
}
*/

/*############################################################################################

	announcements content

############################################################################################*/

#university-announcements
{
	background: #fff;
	border-right: 1px solid #bac949;
	border-bottom: 2px solid #bac949;
	border-left: 1px solid #bac949;
}

#university-announcements h2 
{
	background: #68990a url(/templates/portal/images/announcements-events-h2-gradient.gif) repeat-x top left;
}

#university-announcements h2 a:link, #university-announcements h2 a:visited
{
	color: #fff;
}

#university-announcements h3
{
	border-bottom: 1px dotted #999;
	padding: 0px 0px .5em 0;
}

#university-announcements ul 
{
	list-style: none;
	margin: 10px 30px 18px 5px;
}

#university-announcements li 
{
	background:  url(/templates/portal/images/university-announcements-li-page.gif) no-repeat top left;
	margin: 4px 0;
	padding: 0 0 0 20px;
}

/*
#announcements-and-events h2
{
	color: #722d4d
}


#announcements-and-events
{
	padding:10px;
	background-color:#ffffff;
	border: 1px solid #cbadbb;
	margin-bottom:10px;
}

#announcements-and-events a
{
	text-decoration:none;
	color: black
}

#announcements-urgent
{
	margin-top:5px;
	background-color:#ba3030;
	color:white;
	padding:2px;
}

#announcements-urgent h3
{
	color:#ffffff;
}

#announcements-urgent a
{
	color: white
}

.announcements-item
{
	padding:2px 5px;
}

.announcements-headline
{
	font-weight: bold
}

.announcements-teaser
{
	padding-bottom:.5em
}

#rss-sub
{
	text-align:right;
	color: orange
}
*/
/*############################################################################################

	events content

############################################################################################*/

#events-calendar 
{
	background: #fff;
	border-right: 1px solid #bac949;
	border-bottom: 2px solid #bac949;
	border-left: 1px solid #bac949;
}

#events-calendar h2 
{
	margin: 0 0 15px 0;
	background: #68990a url(/templates/portal/images/announcements-events-h2-gradient.gif) repeat-x top left;
}

#events-calendar h2 a:link, #events-calendar h2 a:visited 
{
	color: #fff;
}

#events-calendar h3
{
	color: #385d12;
	background: #eef3c5;
	padding: 8px 8px 8px 8px;
	margin-top: 15px;
	margin-bottom: 0px;
}

.events-list-table
{    
	margin: 0px 15px;
	border-collapse:collapse;
	/* border-top: 1px solid #999;
	border-right: 1px solid #999; */
}

.events-list-table th
{    
	text-align:left;
}

td.event
{
	color: #333;
	/* margin:0px;
	padding:0.5em; */
	padding: 3px 0 3px 7px;
	border-bottom: 1px solid #d8df98;
	/* border-left: 1px solid #999;  */
}

.events-list-table-caption
{
	display:none;
}

th
{
	padding: 7px 7px 7px 7px;
	background-color: #cbd47a;
	font-weight:bold;
	color:#2d4c0d;
	border-bottom: 1px solid #aeb764;
	/* border-left: 1px solid #000000;    */   
}

.event-highlighted-row
{
	background-color: #fbffd9;
}

/*############################################################################################

	Your links

############################################################################################*/

/*
#your-links{
	padding:10px;
	background-color:white;
	border:1px solid #cbadbb
}

#your-links a{
	text-decoration:none;
	color:black
}

.your-link{
	padding:2px 0
}
*/
/*############################################################################################

	Your details

############################################################################################*/
/*
#your-details{
	background-color:white;
	border:1px solid #722d4d;
	padding:10px
}

#your-details #jobtitle,#your-details #comment{
	font-family:Arial;
	font-size:12px;
	width:30em;
	height:8em
}

#location,#room,#email{
	width:27em
}

#your-details .field-descriptor{
	font-size:smaller
}
*/
/*############################################################################################

	library info

############################################################################################*/




/*############################################################################################

	media content

############################################################################################*/
/*
#media-banner-container
{
	overflow:hidden;	
}
*/
/*############################################################################################

	Exchange Components

############################################################################################*/


#exchange-links
{
    width: 100%;
    background: #531733;
    overflow: hidden;    
}

#exchange-links ul
{
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

#exchange-links li
{
    float: left;
    list-style: none;
}

#exchange-links li a
{
    color: #ffffff;
    display: block;
    padding: .7em .8em .7em .8em;
}

#exchange-links a:hover
{
    background: #752f50;
    color: #ffffff;
}

#exchange-links a.active
{
    color: #000000;
    background: #FFEEF6;
}
