@font-face {
  font-family: 'Stag Web';
  src: url("../fonts/Stag-Medium-Web.eot");
  src: url("../fonts/Stag-Medium-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/Stag-Medium-Web.woff") format("woff"), url("../fonts/Stag-Medium-Web.ttf") format("truetype"), url("../fonts/Stag-Medium-Web.svg#Stag Web") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/sourcesanspro-extralight-webfont.eot");
  src: url("../fonts/sourcesanspro-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-extralight-webfont.woff") format("woff"), url("../fonts/sourcesanspro-extralight-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight") format("svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#source_sans_probold") format("svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/sourcesanspro-extralightitalic-webfont.eot");
  src: url("../fonts/sourcesanspro-extralightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-extralightitalic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-extralightitalic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-extralightitalic-webfont.svg#source_sans_proXLtIt") format("svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/sourcesanspro-lightitalic-webfont.eot");
  src: url("../fonts/sourcesanspro-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-lightitalic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-lightitalic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-lightitalic-webfont.svg#source_sans_prolight_italic") format("svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/sourcesanspro-italic-webfont.eot");
  src: url("../fonts/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-italic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-italic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic") format("svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/sourcesanspro-semibolditalic-webfont.eot");
  src: url("../fonts/sourcesanspro-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibolditalic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibolditalic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibolditalic-webfont.svg#source_sans_probold_italic") format("svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/sourcesanspro-bolditalic-webfont.eot");
  src: url("../fonts/sourcesanspro-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bolditalic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bolditalic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bolditalic-webfont.svg#source_sans_probold_italic") format("svg");
}
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 0.375em;
}

html {
  line-height: 1.5em;
  font-size: 100%;
  line-height: 1.5;
}

body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #003366;
}

a:link {
  color: #660099;
}

a:visited {
  color: #660099;
}

a:hover {
  color: #550080;
}

p {
  max-width: 600px;
}
p a, p a:link {
  text-decoration: underline;
}
p.submit-buttons {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 1.125em;
}
ul.bulleted {
  list-style-type: disc;
  padding-left: 16px;
}

ol {
  padding-left: 20px;
  margin-bottom: 1.125em;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, fieldset div:before, .selected-course:before, .clearfix:after, fieldset div:after, .selected-course:after {
  content: "";
  display: table;
}

.clearfix:after, fieldset div:after, .selected-course:after {
  clear: both;
}

.clearfix, fieldset div, .selected-course {
  zoom: 1;
}

.access {
  position: absolute;
  left: -9999px;
}

.aru-button, a.aru-button, a:link.aru-button, input[type="submit"], input[type="button"], button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 8px 15px;
  font-size: 1em;
  line-height: 1.5em;
  background-color: #ffcc00;
  border: none;
  color: #003366;
  font-family: "Stag Web", "Source Sans Pro", sans-serif;
  font-weight: 500;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.aru-button:hover, a.aru-button:hover, a:link.aru-button:hover, input[type="submit"]:hover, input[type="button"]:hover, button:hover {
  background-color: #e6b800;
}
.aru-button.btn-white, a.aru-button.btn-white, a:link.aru-button.btn-white, input[type="submit"].btn-white, input[type="button"].btn-white, button.btn-white {
  background-color: #ffffff;
}
.aru-button:disabled, a.aru-button:disabled, a:link.aru-button:disabled, input[type="submit"]:disabled, input[type="button"]:disabled, button:disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Stag Web", "Source Sans Pro", sans-serif;
  color: #003366;
  font-weight: 500;
}

h1, .h1 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 0 0 0.5em;
  color: #003366;
}
@media screen and (min-width: 43.75em) {
  h1, .h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    margin: 0 0 0.3em;
  }
  h1 span, .h1 span {
    color: #414042;
    display: block;
    font-size: 2.125em;
    line-height: 1.23529em;
    font-weight: 400;
    padding: 0.70588em 0;
  }
}

h2, .h2 {
  font-size: 1.375em;
  line-height: 1.36364em;
  margin: 0 0 0.54545em;
  color: #660099;
}
@media screen and (min-width: 43.75em) {
  h2, .h2 {
    font-size: 1.75em;
    line-height: 1.28571em;
    margin: 0 0 0.42857em;
  }
}
h2 span, .h2 span {
  display: block;
  font-size: 1.75em;
  line-height: 1.28571em;
  padding: 2.14286em 0 0.85714em;
}

h3, .h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 0.6em;
}
@media screen and (min-width: 43.75em) {
  h3, .h3 {
    font-size: 1.5em;
    line-height: 1.25em;
    margin: 0 0 0.5em;
  }
}

h4, .h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0 0 0.66667em;
}

h5, .h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.75em;
}

h6, .h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.85714em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1.125em;
}

a, a:link, a:hover, a:visited {
  text-decoration: none;
}

ul.bullet {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
}

ol.decimal {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 20px;
}

body {
  margin-top: 84px;
}
@media screen and (min-width: 43.75em) {
  body {
    margin-top: 126px;
  }
}
@media screen and (min-width: 61.25em) {
  body {
    margin-top: 0;
  }
}

.header-wrapper {
  background-color: #ffffff;
  border-bottom: 4px solid #660099;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}
.page-header:before, .page-header:after {
  content: " ";
  display: table;
}
.page-header:after {
  clear: both;
}
.page-header {
  *zoom: 1;
}
@media screen and (min-width: 61.25em) {
  .page-header {
    position: relative;
    *zoom: 1;
    max-width: 83.375em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .page-header:after {
    content: "";
    display: table;
    clear: both;
  }
}
.page-header .logo {
  float: left;
  background: url(../images/anglia-ruskin-logo.jpg) no-repeat 0 0;
  background-size: 150px 52px;
  display: block;
  width: 150px;
  height: 52px;
  margin: 1em 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .page-header .logo {
    background: url(../images/anglia-ruskin-logo-retina.jpg) no-repeat 0 0;
    background-size: 150px 52px;
  }
}
@media screen and (min-width: 43.75em) {
  .page-header .logo {
    width: 174px;
    height: 60px;
    background: url(../images/anglia-ruskin-logo.jpg) no-repeat 0 0;
    background-size: 174px 60px;
  }
}
@media screen and (min-width: 43.75em) and (-webkit-min-device-pixel-ratio: 2) {
  .page-header .logo {
    background: url(../images/anglia-ruskin-logo-retina.jpg) no-repeat 0 0;
    background-size: 174px 60px;
  }
}

.lt-ie9 .page-header .logo {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/anglia-ruskin-logo.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(\a 				src='../images/anglia-ruskin-logo.jpg',\a 				sizingMethod='scale')";
}
.page-header .mobile-links {
  margin: 0;
}
.page-header .mobile-links li {
  position: absolute;
  right: 15px;
}
.page-header .mobile-links li:first-of-type {
  top: 15px;
  margin-top: -5px;
}
@media screen and (min-width: 43.75em) {
  .page-header .mobile-links li:first-of-type {
    display: none;
  }
}
.page-header .mobile-links li:last-of-type {
  bottom: 15px;
  margin-bottom: -5px;
}
@media screen and (min-width: 61.25em) {
  .page-header .mobile-links li:last-of-type {
    display: none;
  }
}
.lt-ie9 .page-header .mobile-links li {
  display: none;
}
.page-header .mobile-links a {
  color: #660099;
  font-size: 17px;
}
.page-header .mobile-links a i {
  line-height: 17px;
}

#form-links-wrapper {
  background-color: #660099;
  position: fixed;
  top: 84px;
  left: -100%;
  bottom: 0;
  width: 100%;
  z-index: 9;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (min-width: 43.75em) {
  #form-links-wrapper {
    background-color: #660099;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    margin-top: -4px;
  }
}
#form-links-wrapper .form-links {
  width: 100%;
  max-width: 85.375em;
  margin: 0 auto;
  padding-left: 0;
  text-align: left;
}
.lt-ie9 #form-links-wrapper .form-links {
  width: 61.25em\9;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .lt-ie9 #form-links-wrapper .form-links {
    width: 100%;
  }
}
@media screen and (min-width: 43.75em) {
  #form-links-wrapper .form-links {
    text-align: center;
    display: table;
    table-layout: fixed;
  }
  .lt-ie9 #form-links-wrapper .form-links {
    width: 61.25em\9;
    *text-align: left\9;
  }
}
@media screen and (min-width: 43.75em) {
  #form-links-wrapper .form-links li {
    display: table-cell;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    *vertical-align: middle;
  }
}
#form-links-wrapper .form-links li a {
  font-weight: 400;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff;
  background-color: #660099;
  display: block;
  padding: .47em 15px;
  font-size: 16px;
}
.lt-ie9 #form-links-wrapper .form-links li a {
  font-weight: 600;
}
@media screen and (min-width: 43.75em) {
  #form-links-wrapper .form-links li a {
    color: #ffffff;
    font-weight: 400;
    background-color: #660099;
    text-align: center;
  }
}
#form-links-wrapper .form-links li a:hover {
  background-color: #fff;
  color: #660099;
}
@media screen and (min-width: 43.75em) {
  #form-links-wrapper .form-links li a:hover {
    background-color: #fff;
    color: #660099;
  }
}
#form-links-wrapper .form-links li strong {
  font-weight: 400;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff;
  background-color: #3f0072;
  display: block;
  padding: .47em 15px;
  font-size: 16px;
}
.lt-ie9 #form-links-wrapper .form-links li strong {
  font-weight: 600;
}
#form-links-wrapper.nav-visible {
  left: 0;
  overflow-y: scroll;
  padding-bottom: 50px;
}

#progress-wrapper {
  background-color: #ffffff;
}
@media screen and (min-width: 61.25em) {
  #progress-wrapper:before, #progress-wrapper:after {
    content: " ";
    display: table;
  }
  #progress-wrapper:after {
    clear: both;
  }
  #progress-wrapper {
    *zoom: 1;
  }
}
@media screen and (max-width: 61.25em) {
  #progress-wrapper {
    position: fixed;
    right: -100%;
    width: 100%;
    height: 100%;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #progress-wrapper.progress-active {
    right: 0px;
    z-index: 99;
    padding-bottom: 100px;
    overflow-y: scroll;
  }
  .lt-ie9 #progress-wrapper {
    position: relative\9;
    right: 0\9;
    top: 0\9;
    *height: auto;
  }
}
@media screen and (max-width: 61.25em) and (-ms-high-contrast: active), screen and (max-width: 61.25em) and (-ms-high-contrast: none) {
  .lt-ie9 #progress-wrapper {
    position: fixed;
    right: -100%;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 43.75em) {
  #progress-wrapper {
    top: 84px;
  }
}
@media screen and (min-width: 43.75em) {
  #progress-wrapper {
    top: 84px;
  }
}
#progress-wrapper #progress-list {
  margin: 0;
  padding-left: 0;
}
@media screen and (min-width: 61.25em) {
  #progress-wrapper #progress-list {
    width: 100%;
    max-width: 85.375em;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
  .lt-ie9 #progress-wrapper #progress-list {
    width: 62.25em;
  }
}
@media screen and (min-width: 61.25em) and (-ms-high-contrast: active), screen and (min-width: 61.25em) and (-ms-high-contrast: none) {
  .lt-ie9 #progress-wrapper #progress-list {
    width: 100%;
  }
}

@media screen and (min-width: 61.25em) {
  #progress-wrapper #progress-list li {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    *vertical-align: top;
  }
}
#progress-wrapper #progress-list li a, #progress-wrapper #progress-list li strong {
  font-size: 1em;
  line-height: 1.5em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: -0.0625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: -0.0625em;
  border-color: #bcbec0;
  color: #414042;
  font-weight: 400;
  display: block;
  padding: 15px 5px;
  background-color: #fafafa;
  position: relative;
}
@media screen and (min-width: 61.25em) {
  #progress-wrapper #progress-list li a, #progress-wrapper #progress-list li strong {
    border-right: 1px solid #bcbec0;
    min-height: 150px;
  }
  .lt-ie9 #progress-wrapper #progress-list li a, .lt-ie9 #progress-wrapper #progress-list li strong {
    height: 125px;
  }
}
#progress-wrapper #progress-list li a i, #progress-wrapper #progress-list li strong i {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -11px;
}
@media screen and (min-width: 61.25em) {
  #progress-wrapper #progress-list li a i, #progress-wrapper #progress-list li strong i {
    font-size: 2.25em;
    line-height: 1em;
    display: block;
    right: 50%;
    margin-right: -15px;
    top: 70px;
    margin-top: 0;
  }
}
#progress-wrapper #progress-list li a i span, #progress-wrapper #progress-list li strong i span {
  display: inline-block;
  float: left;
  text-indent: -9999px;
}
#progress-wrapper #progress-list li a.grey-out, #progress-wrapper #progress-list li strong.grey-out {
  background-color: #dfdfdf;
  color: #003366;
}
#progress-wrapper #progress-list li a.grey-out i, #progress-wrapper #progress-list li strong.grey-out i {
  color: #003366;
}
@media screen and (min-width: 61.25em) {
  #progress-wrapper #progress-list li a:hover, #progress-wrapper #progress-list li strong:hover {
    background-color: #fff;
    color: #414042;
  }
  #progress-wrapper #progress-list li a:hover i, #progress-wrapper #progress-list li strong:hover i {
    color: #414042;
  }
}
@media screen and (min-width: 61.25em) and (min-width: 61.25em) {
  #progress-wrapper #progress-list li a:hover i, #progress-wrapper #progress-list li strong:hover i {
    color: #414042;
  }
}

#progress-wrapper #progress-list li a.current-step, #progress-wrapper #progress-list li strong.current-step {
  background-color: #660099;
  border-color: #660099;
  color: #fff;
  cursor: default;
}
#progress-wrapper #progress-list li a.current-step i, #progress-wrapper #progress-list li strong.current-step i {
  color: #fff;
}
#progress-wrapper #progress-list li a .status-in-progress, #progress-wrapper #progress-list li strong .status-in-progress {
  color: #ffcc00;
}
#progress-wrapper #progress-list li a .status-pending, #progress-wrapper #progress-list li strong .status-pending {
  color: #ececec;
}
#progress-wrapper #progress-list li a .status-complete, #progress-wrapper #progress-list li strong .status-complete {
  color: #a5dc23;
}
@media screen and (min-width: 61.25em) {
  #progress-wrapper #progress-list li:first-child {
    border-left: 1px solid;
    border-color: #bcbec0;
  }
}

.f-a-m-outer {
  *zoom: 1;
  max-width: 83.375em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  padding: 0;
}
.f-a-m-outer:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 61.25em) {
  .f-a-m-outer {
    margin-top: 0;
  }
}
.f-a-m-outer .form-alert-message {
  padding: 1.5em 16px 1.5em;
  display: block;
  background-color: #f7d9d9;
}
.f-a-m-outer .form-alert-message p a {
  font-weight: bold;
  color: #003366;
}
.f-a-m-outer .form-alert-message ul {
  margin: 1.5em 0;
  list-style-type: disc;
  padding-left: 1.1em;
}
.f-a-m-outer .form-alert-message strong {
  font-size: 1.125em;
  line-height: 1.33333em;
}

#npNav {
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: -0.0625em;
  border-color: #cccccc;
  padding: 1.5em 0;
}
#npNav fieldset input.grey-out {
  background-color: #cccccc;
  color: #414042;
}
#npNav fieldset input.grey-out i {
  color: #414042;
}
#npNav fieldset #form-alert-message {
  width: 62.10526%;
  float: left;
  margin-right: 1.05263%;
  clear: both;
  margin: 1.5em 0 1.5em 5.26316%;
}
#npNav fieldset #form-alert-message p, #npNav fieldset #form-alert-message ul, #npNav fieldset #form-alert-message #proceed-anyway {
  width: 38.98305%;
  float: left;
  margin-right: 1.69492%;
  margin: 1.5em 0 1.5em 0;
}
#npNav fieldset #form-alert-message p, #npNav fieldset #form-alert-message ul {
  clear: left;
}
#npNav fieldset #form-alert-message a {
  color: #003366;
}
#npNav fieldset #form-alert-message #proceed-anyway {
  float: right;
  margin-right: 0;
}

.pre-footer {
  background-color: #003366;
  padding-top: 1em;
  padding-bottom: .25em;
}
.pre-footer .pre-footer-inner {
  *zoom: 1;
  max-width: 83.375em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.pre-footer .pre-footer-inner:after {
  content: "";
  display: table;
  clear: both;
}
.pre-footer .pre-footer-inner h1, .pre-footer .pre-footer-inner h2, .pre-footer .pre-footer-inner h3, .pre-footer .pre-footer-inner h4, .pre-footer .pre-footer-inner h5, .pre-footer .pre-footer-inner h6, .pre-footer .pre-footer-inner p, .pre-footer .pre-footer-inner li, .pre-footer .pre-footer-inner a {
  color: #ffffff;
}
.pre-footer .pre-footer-inner h2 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-bottom: .5em;
}
.pre-footer .footer-soc-med {
  margin: 0 0 .75em;
}
.pre-footer .footer-soc-med li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 22px;
}
.pre-footer .footer-soc-med li.fsm {
  margin: 0;
  font-size: 1.4375em;
  line-height: 1.04348em;
}
.pre-footer .footer-soc-med li.fsm a {
  display: block;
  width: 1em;
  height: 1em;
}
.pre-footer .footer-soc-med li.fsm + .fsm {
  margin: 0 0 0 6px;
}
.pre-footer .footer-soc-med li.fsm + .fsm.fsm-youtube {
  margin-right: 50px;
}
.pre-footer .footer-soc-med li.follow-us {
  display: block;
}
@media screen and (min-width: 43.75em) {
  .pre-footer .footer-soc-med li.follow-us {
    margin-right: 16px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: bottom;
  }
}
.pre-footer .footer-soc-med li.switchboard, .pre-footer .footer-soc-med li.answersEmailFooter {
  display: block;
}
@media screen and (min-width: 43.75em) {
  .pre-footer .footer-soc-med li.switchboard, .pre-footer .footer-soc-med li.answersEmailFooter {
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}
.pre-footer .footer-soc-med li.switchboard {
  margin-right: 50px;
}

#footer {
  background-color: #333333;
}
#footer ul {
  *zoom: 1;
  max-width: 83.375em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding: .5em 0 .5em 16px;
  margin: 0 auto;
}
#footer ul:after {
  content: "";
  display: table;
  clear: both;
}
#footer ul li {
  color: #ffffff;
  font-size: 0.875em;
  line-height: 1.71429em;
}
@media screen and (min-width: 43.75em) {
  #footer ul li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #ffffff;
    margin-left: -10px;
  }
  #footer ul li + li {
    margin: 0;
  }
  #footer ul li + li + li + li + li {
    border-right: 0;
  }
}
@media screen and (min-width: 43.75em) {
  #footer ul li.aru_copyright {
    float: right;
    margin-right: 0;
    text-align: right;
    border-right: 0;
  }
}
#footer ul li a {
  color: #fff;
}

.main-body {
  background-color: #ffffff;
}

.main-body-inner {
  *zoom: 1;
  max-width: 83.375em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  padding-bottom: 2.25em;
}
.main-body-inner:after {
  content: "";
  display: table;
  clear: both;
}
.lt-ie9 .main-body-inner {
  padding-left: 0;
  padding-right: 0;
}

#course-details {
  margin-top: 30px;
}
@media screen and (min-width: 43.75em) {
  #course-details {
    margin-top: 0;
  }
  .lt-ie9 #course-details {
    width: 61.25em\9;
  }
}
#course-details li {
  font-family: "Source Sans Pro", sans-serif;
  color: #660099;
}
@media screen and (min-width: 61.25em) {
  #course-details li {
    width: 24.21053%;
    float: left;
    margin-right: 1.05263%;
  }
  .lt-ie9 #course-details li {
    width: auto;
  }
}
#course-details li i {
  padding-left: 8px;
  padding-right: 8px;
  color: #ffcc00;
}
#course-details li i.fa-long-arrow-right:before {
  vertical-align: bottom;
}
#course-details li:nth-child(6) {
  border: 0;
}
#course-details li:nth-child(6) span {
  padding-right: 0;
}

@media screen and (min-width: 61.25em) {
  #application-left {
    width: 49.47368%;
    float: left;
    margin-right: 1.05263%;
  }
}
#application-left .docUploadContainer label {
  max-width: 600px;
  word-wrap: break-word;
}
#application-left.ne-form .faux-label {
  font-weight: 700;
  margin-bottom: .5em;
}
#application-left.ne-form .faux-label + p {
  border: 1px solid #cccccc;
  word-wrap: break-word;
  margin-bottom: .25em;
  padding: 10px;
  min-height: 2.5em;
}
#application-left.ne-form input, #application-left.ne-form label, #application-left.ne-form hr, #application-left.ne-form p {
  max-width: 600px;
}
#application-left.ne-form input [disabled="disabled"] {
  color: #003366;
}
#application-left.ne-form .docUpload label {
  word-wrap: break-word;
}
#application-left.ne-form hr {
  margin-bottom: 1.25em;
}

@media screen and (min-width: 61.25em) {
  #application-right {
    width: 30.52632%;
    float: right;
    margin-right: 0;
  }
}
@media screen and (max-width: 61.25em) {
  #application-right {
    position: fixed;
    right: -100%;
    width: 100%;
    top: 60px;
    bottom: 0;
    height: 100%;
    background-color: #ffffff;
    padding: 1em;
    margin-top: 1em;
    overflow-y: auto;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .lt-ie9 #application-right {
    top: 0\9;
    position: relative\9;
    height: auto\9;
    right: 0\9;
    width: auto\9;
    float: none;
    display: block;
  }
}
@media screen and (max-width: 61.25em) and (-ms-high-contrast: active), screen and (max-width: 61.25em) and (-ms-high-contrast: none) {
  .lt-ie9 #application-right {
    position: fixed;
    right: -100%;
    top: 60px;
  }
}
@media screen and (max-width: 61.25em) {
  #application-right.ht-current {
    right: 0;
    z-index: 100;
  }
}
@media screen and (max-width: 43.75em) {
  #application-right {
    top: 60px;
  }
}
#application-right .ht-nav {
  display: block;
  margin-bottom: 1em;
}
@media screen and (min-width: 61.25em) {
  #application-right .ht-nav {
    display: none;
  }
}

#mainHelpText {
  overflow: hidden;
}
@media screen and (max-width: 61.25em) {
  #mainHelpText {
    background-color: #ffffff;
    overflow-y: auto;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 61.25em) {
  #mainHelpText {
    background-color: #fafafa;
    border: 1px solid #cccccc;
    padding: 1.5em 16px 1em;
  }
}
.lt-ie9 #mainHelpText div {
  clear: both;
}
#mainHelpText p, #mainHelpText ul {
  font-size: 16px;
  color: #660099;
}
@media screen and (min-width: 61.25em) {
  #mainHelpText.fixedHelp {
    position: fixed;
    top: 0;
  }
}
#mainHelpText .hiddenHelpIcon {
  text-decoration: none !important;
  padding-bottom: .5em;
  display: inline-block;
  font-size: 2em;
  color: #660099;
}
.lt-ie9 #mainHelpText .hiddenHelpIcon {
  float: left;
}
#mainHelpText #hiddenHelpMinMax {
  text-decoration: none !important;
  display: inline-block;
  float: right;
  line-height: 1.25;
  font-size: 1em;
  padding: 0 0 0 .5em;
  color: #003366;
  cursor: pointer;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (max-width: 61.25em) {
  #mainHelpText #hiddenHelpMinMax {
    display: none;
  }
}
.lt-ie9 #mainHelpText #hiddenHelpMinMax, #mainHelpText #hiddenHelpMinMax i {
  display: inline;
}
#mainHelpText #hiddenHelpMinMax:hover {
  color: #ffcc00;
}

fieldset {
  margin-bottom: 10px;
}
@media screen and (min-width: 61.25em) {
  fieldset {
    padding-bottom: 0.75em;
  }
}
fieldset div {
  margin-bottom: 1em;
}
.lt-ie9.lt-ie8 fieldset div {
  width: 95%;
}
fieldset div .fauxLabel {
  font-weight: bold;
}
fieldset label {
  font-weight: 700;
  display: block;
  margin-bottom: .5em;
}
fieldset label input[type="checkbox"] {
  margin-left: 1px;
  margin-right: 8px;
}
fieldset input[type="text"], fieldset input[type="password"], fieldset input[type="email"], fieldset input[type="date"], fieldset select {
  font-family: "Source Sans Pro", sans-serif;
  color: #003366;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: -0.0625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: -0.0625em;
  display: block;
  margin-bottom: .25em;
}
fieldset input[type="text"].parsley-error, fieldset input[type="password"].parsley-error, fieldset input[type="email"].parsley-error, fieldset input[type="date"].parsley-error, fieldset select.parsley-error {
  border-color: #cc3433;
}
fieldset input[type="text"].hide, fieldset input[type="password"].hide, fieldset input[type="email"].hide, fieldset input[type="date"].hide, fieldset select.hide {
  display: none;
}
fieldset input[type="text"].hasDatePkr, fieldset input[type="text"]#IPR_DOB, fieldset input[type="password"].hasDatePkr, fieldset input[type="password"]#IPR_DOB, fieldset input[type="email"].hasDatePkr, fieldset input[type="email"]#IPR_DOB, fieldset input[type="date"].hasDatePkr, fieldset input[type="date"]#IPR_DOB, fieldset select.hasDatePkr, fieldset select#IPR_DOB {
  width: 25%;
}
fieldset input[type="password"] {
  font-family: sans-serif;
}
@media screen and (min-width: 61.25em) {
  fieldset select {
    height: 42px;
    width: auto;
  }
  fieldset select.finalPredictedGrade {
    width: 50%;
    min-width: 50%;
  }
}
fieldset textarea {
  width: 100%;
}
fieldset textarea.parsley-error {
  border-color: #cc3433;
}
fieldset em.displayedHelp {
  display: inline-block;
  font-weight: 400;
}
fieldset .hiddenHelpIcon {
  font-size: 1.5em;
  line-height: 1em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-align: center;
  color: #660099;
  cursor: pointer;
  float: right;
  margin: 0 0 5px 5px;
  text-decoration: none !important;
}
fieldset .hiddenHelpIcon:hover {
  color: #d2b886;
}
fieldset legend {
  font-family: "Stag Web", "Source Sans Pro", sans-serif;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  font-size: 22px;
}
@media screen and (max-width: 61.25em) {
  fieldset legend {
    font-size: 1.25em;
    line-height: 1.2em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 61.25em) {
  fieldset legend {
    margin-bottom: 30px;
  }
}
fieldset p:before, fieldset p:after {
  content: " ";
  display: table;
}
fieldset p:after {
  clear: both;
}
fieldset p {
  *zoom: 1;
}

form h1 {
  margin-bottom: 30px;
}

.sitstabledescription {
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 1.125em;
  font-weight: 300;
  background-color: #fff;
}

hr {
  width: 100%;
  margin: 0;
  border: 0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: -0.0625em;
  border-style: dashed;
  border-color: #24c1b0;
  background-color: #fff;
}
@media screen and (max-width: 61.25em) {
  hr {
    display: none;
  }
}

table {
  width: 100%;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-right: none;
  margin-bottom: 20px;
}
table[border="0"] {
  border: none;
}
table tr:nth-child(odd) {
  background-color: #f0f0f0;
}
table th {
  background-color: #003366;
  color: #ffffff;
  padding: 10px;
  font-weight: 700;
  border: 1px solid #003366;
  border-left: none;
  border-top: none;
  border-right-color: #cccccc;
  vertical-align: top;
  font-size: 18px;
  text-align: left;
}
table th:last-of-type {
  border-right-color: #003366;
}
table td {
  padding: 10px;
  vertical-align: top;
}
@media screen and (min-width: 43.75em) {
  table td {
    border: 1px solid #cccccc;
    border-left: none;
    border-top: none;
  }
}
table td input[type="submit"] {
  margin: 3px 0;
}
@media screen and (max-width: 43.75em) {
  table thead, table tbody, table th, table td, table tr {
    display: block;
  }
  table tr {
    border-bottom: 1px solid #cccccc;
  }
  table tr:nth-child(odd) {
    background-color: #f0f0f0;
  }
  table thead tr {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  table td {
    position: relative;
    padding-left: 50%;
  }
  table td.user-actions {
    padding-left: 10px;
  }
  table td.user-actions:before {
    margin-left: 0;
    display: block;
    margin-bottom: 10px;
  }
  table td:before {
    font-weight: bold;
    content: attr(data-title);
    width: 100%;
    margin-left: -100%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}

@media screen and (max-width: 43.75em) {
  table {
    display: block;
  }

  table {
    border-right: 1px solid #cccccc;
  }
}
.qualifications {
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: -0.0625em;
  border-color: #0099ff;
  border-style: dashed;
  padding-top: 1.5em;
}
.qualifications:first-of-type {
  border: 0;
  padding-top: 0;
}

.selected-course {
  margin: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 43.75em) {
  .selected-course li {
    width: 32.39437%;
    float: left;
    margin-right: 1.40845%;
  }
  .selected-course li:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}
.selected-course li span {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  font-size: 18px;
}
@media screen and (min-width: 43.75em) {
  .selected-course li span {
    display: block;
  }
}

.apply-choice {
  margin-bottom: 20px;
  padding-left: 0;
  clear: both;
}
.apply-choice li {
  margin: 0 0 10px 0;
}
@media screen and (min-width: 43.75em) {
  .apply-choice li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 10px 0 0;
  }
}

.old-app-form {
  display: none;
}
@media screen and (min-width: 61.25em) {
  .old-app-form {
    width: 49.47368%;
    float: left;
    margin-right: 1.05263%;
  }
}
.no-js .old-app-form {
  display: block;
}

.form-footer-link {
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.usr-list p {
  font-size: 16px;
  padding: 16px 0;
  margin: 0;
  border-bottom: 1px solid #003366;
}
.usr-list p:last-of-type {
  border-bottom: none;
}
.usr-list label {
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media screen and (min-width: 43.75em) {
  .usr-list label {
    width: 260px;
    padding-right: 20px;
  }
}

.submit-buttons {
  margin-top: 30px;
}

@media screen and (min-width: 61.25em) {
  .prsnldtls-form {
    width: 49.47368%;
    float: left;
    margin-right: 1.05263%;
  }
}
.prsnldtls-form p:before, .prsnldtls-form p:after {
  content: " ";
  display: table;
}
.prsnldtls-form p:after {
  clear: both;
}
.prsnldtls-form p {
  *zoom: 1;
}
.prsnldtls-form label {
  font-weight: 500;
}
.prsnldtls-form input[type="text"], .prsnldtls-form input[type="password"], .prsnldtls-form input[type="date"] {
  padding: 5px;
}
.prsnldtls-form input[type="date"] {
  float: left;
  margin-right: 0%;
}

.user-action-buttons {
  margin-bottom: 20px;
}
.user-action-buttons li {
  margin-bottom: 10px;
}
@media screen and (min-width: 43.75em) {
  .user-action-buttons li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
}
.user-action-buttons li input[type="submit"] {
  cursor: pointer;
}

.char-counter {
  margin-bottom: 0;
  margin-top: 15px;
  text-align: right;
}
@media screen and (min-width: 61.25em) {
  .char-counter {
    width: 62.10526%;
    float: left;
    margin-right: 1.05263%;
    margin-left: 17.89474%;
  }
}
@media screen and (min-width: 61.25em) {
  #application-left .char-counter {
    width: 66.19718%;
    float: left;
    margin-right: 1.40845%;
    margin-left: 17.89474%;
  }
}
.char-counter span {
  background-color: #24c1b0;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  text-align: center;
  line-height: 30px;
}

.proceedGreen, .f-a-m-outer .form-alert-message.proceedGreen {
  background-color: #badc6c;
}

#cloneBtns {
  padding-bottom: 3em;
}

.hide, .qualifications--no-formal-hide {
  display: none;
}

.positionHide {
  position: absolute;
  left: -9999px;
}

.parsley-errors-list, .faux-parsley-errors-list {
  color: #cc3433;
  margin-bottom: 0;
}

.docUploadBtn {
  margin-top: 1.25em;
}

noscript {
  background-color: #ececec;
  display: block;
  padding: 1em;
  margin-bottom: 30px;
}
.js noscript {
  display: none;
}

select.ui-datepicker-month {
  color: #666666;
}
select.ui-datepicker-year {
  color: #666666;
}
.ui-widget-header select {
  color: #666666;
}

.ui-datepicker table th {
  font-size: .9em;
  color: #222222;
  background-color: transparent;
}

.ui-datepicker table tr:nth-child(odd) {
  background-color: #ffffff;
}

@media screen and (min-width: 61.25em) {
  #forgotten-password-form, #confirm-password-form, #change-password-form {
    width: 49.47368%;
    float: left;
    margin-right: 1.05263%;
  }
}

.usr-list {
  word-wrap: break-word;
}

@media screen and (min-width: 61.25em) {
  .hide-desk {
    display: none !important;
    visibility: hidden;
  }
}

@media screen and (min-width: 43.75em) {
  .hide-tab {
    display: none !important;
    visibility: hidden;
  }
}

@media screen and (max-width: 43.75em) {
  .hide-mobile {
    display: none !important;
    visibility: hidden;
  }
}

/* COOKIE AWARENESS */
.cookie-awareness {
  background-color: #ececec;
  border-top: 1px solid #cccccc;
  display: none;
  font-size: .875em;
  padding: 1em 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.cookie-awareness div {
  margin: 0 auto;
  max-width: 83.375em;
  padding: 0 1em;
  position: relative;
}
.cookie-awareness div p {
  max-width: 100%;
}
@media (min-width: 599px) {
  .cookie-awareness div p {
    margin-right: 5em;
  }
  .cookie-awareness div input {
    position: absolute;
    top: 0;
    right: 1em;
  }
}
@media (min-width: 61.25em) {
  .cookie-awareness {
    font-size: 1em;
  }
}

/*
ie10 truncated text bug fix
input[type="password"]::-ms-reveal {
	display: none;
}*/
@media screen and (min-width: 61.25em) {
  .desktop-1-cols {
    width: 5.26316%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-1-cols-last {
    width: 5.26316%;
    float: right;
    margin-right: 0;
  }

  .desktop-2-cols {
    width: 11.57895%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-2-cols-last {
    width: 11.57895%;
    float: right;
    margin-right: 0;
  }

  .desktop-3-cols {
    width: 17.89474%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-3-cols-last {
    width: 17.89474%;
    float: right;
    margin-right: 0;
  }

  .desktop-4-cols {
    width: 24.21053%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-4-cols-last {
    width: 24.21053%;
    float: right;
    margin-right: 0;
  }

  .desktop-5-cols {
    width: 30.52632%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-5-cols-last {
    width: 30.52632%;
    float: right;
    margin-right: 0;
  }

  .desktop-6-cols {
    width: 36.84211%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-6-cols-last {
    width: 36.84211%;
    float: right;
    margin-right: 0;
  }

  .desktop-7-cols {
    width: 43.15789%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-7-cols-last {
    width: 43.15789%;
    float: right;
    margin-right: 0;
  }

  .desktop-8-cols {
    width: 49.47368%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-8-cols-last {
    width: 49.47368%;
    float: right;
    margin-right: 0;
  }

  .desktop-9-cols {
    width: 55.78947%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-9-cols-last {
    width: 55.78947%;
    float: right;
    margin-right: 0;
  }

  .desktop-10-cols {
    width: 62.10526%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-10-cols-last {
    width: 62.10526%;
    float: right;
    margin-right: 0;
  }

  .desktop-11-cols {
    width: 68.42105%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-11-cols-last {
    width: 68.42105%;
    float: right;
    margin-right: 0;
  }

  .desktop-12-cols {
    width: 74.73684%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-12-cols-last {
    width: 74.73684%;
    float: right;
    margin-right: 0;
  }

  .desktop-13-cols {
    width: 81.05263%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-13-cols-last {
    width: 81.05263%;
    float: right;
    margin-right: 0;
  }

  .desktop-14-cols {
    width: 87.36842%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-14-cols-last {
    width: 87.36842%;
    float: right;
    margin-right: 0;
  }

  .desktop-15-cols {
    width: 93.68421%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-15-cols-last {
    width: 93.68421%;
    float: right;
    margin-right: 0;
  }

  .desktop-16-cols {
    width: 100%;
    float: left;
    margin-right: 1.05263%;
  }

  .desktop-16-cols-last {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
@media screen and (min-width: 43.75em) {
  .tablet-1-cols {
    width: 5.26316%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-1-cols-last {
    width: 5.26316%;
    float: right;
    margin-right: 0;
  }

  .tablet-2-cols {
    width: 11.57895%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-2-cols-last {
    width: 11.57895%;
    float: right;
    margin-right: 0;
  }

  .tablet-3-cols {
    width: 17.89474%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-3-cols-last {
    width: 17.89474%;
    float: right;
    margin-right: 0;
  }

  .tablet-4-cols {
    width: 24.21053%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-4-cols-last {
    width: 24.21053%;
    float: right;
    margin-right: 0;
  }

  .tablet-5-cols {
    width: 30.52632%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-5-cols-last {
    width: 30.52632%;
    float: right;
    margin-right: 0;
  }

  .tablet-6-cols {
    width: 36.84211%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-6-cols-last {
    width: 36.84211%;
    float: right;
    margin-right: 0;
  }

  .tablet-7-cols {
    width: 43.15789%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-7-cols-last {
    width: 43.15789%;
    float: right;
    margin-right: 0;
  }

  .tablet-8-cols {
    width: 49.47368%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-8-cols-last {
    width: 49.47368%;
    float: right;
    margin-right: 0;
  }

  .tablet-9-cols {
    width: 55.78947%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-9-cols-last {
    width: 55.78947%;
    float: right;
    margin-right: 0;
  }

  .tablet-10-cols {
    width: 62.10526%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-10-cols-last {
    width: 62.10526%;
    float: right;
    margin-right: 0;
  }

  .tablet-11-cols {
    width: 68.42105%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-11-cols-last {
    width: 68.42105%;
    float: right;
    margin-right: 0;
  }

  .tablet-12-cols {
    width: 74.73684%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-12-cols-last {
    width: 74.73684%;
    float: right;
    margin-right: 0;
  }

  .tablet-13-cols {
    width: 81.05263%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-13-cols-last {
    width: 81.05263%;
    float: right;
    margin-right: 0;
  }

  .tablet-14-cols {
    width: 87.36842%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-14-cols-last {
    width: 87.36842%;
    float: right;
    margin-right: 0;
  }

  .tablet-15-cols {
    width: 93.68421%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-15-cols-last {
    width: 93.68421%;
    float: right;
    margin-right: 0;
  }

  .tablet-16-cols {
    width: 100%;
    float: left;
    margin-right: 1.05263%;
  }

  .tablet-16-cols-last {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
.mobile-1-cols {
  width: 5.26316%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-1-cols-last {
  width: 5.26316%;
  float: right;
  margin-right: 0;
}

.mobile-2-cols {
  width: 11.57895%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-2-cols-last {
  width: 11.57895%;
  float: right;
  margin-right: 0;
}

.mobile-3-cols {
  width: 17.89474%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-3-cols-last {
  width: 17.89474%;
  float: right;
  margin-right: 0;
}

.mobile-4-cols {
  width: 24.21053%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-4-cols-last {
  width: 24.21053%;
  float: right;
  margin-right: 0;
}

.mobile-5-cols {
  width: 30.52632%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-5-cols-last {
  width: 30.52632%;
  float: right;
  margin-right: 0;
}

.mobile-6-cols {
  width: 36.84211%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-6-cols-last {
  width: 36.84211%;
  float: right;
  margin-right: 0;
}

.mobile-7-cols {
  width: 43.15789%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-7-cols-last {
  width: 43.15789%;
  float: right;
  margin-right: 0;
}

.mobile-8-cols {
  width: 49.47368%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-8-cols-last {
  width: 49.47368%;
  float: right;
  margin-right: 0;
}

.mobile-9-cols {
  width: 55.78947%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-9-cols-last {
  width: 55.78947%;
  float: right;
  margin-right: 0;
}

.mobile-10-cols {
  width: 62.10526%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-10-cols-last {
  width: 62.10526%;
  float: right;
  margin-right: 0;
}

.mobile-11-cols {
  width: 68.42105%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-11-cols-last {
  width: 68.42105%;
  float: right;
  margin-right: 0;
}

.mobile-12-cols {
  width: 74.73684%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-12-cols-last {
  width: 74.73684%;
  float: right;
  margin-right: 0;
}

.mobile-13-cols {
  width: 81.05263%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-13-cols-last {
  width: 81.05263%;
  float: right;
  margin-right: 0;
}

.mobile-14-cols {
  width: 87.36842%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-14-cols-last {
  width: 87.36842%;
  float: right;
  margin-right: 0;
}

.mobile-15-cols {
  width: 93.68421%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-15-cols-last {
  width: 93.68421%;
  float: right;
  margin-right: 0;
}

.mobile-16-cols {
  width: 100%;
  float: left;
  margin-right: 1.05263%;
}

.mobile-16-cols-last {
  width: 100%;
  float: right;
  margin-right: 0;
}
