@CHARSET "UTF-8";
.landing_matrix {
  float: left;
  width: 75%;
  z-index: 1;
}
@media all and (max-width: 992px) {
  .landing_matrix {
    width: 100%;
  }
}

.landing__filters {
  float: right;
  width: 23%;
  padding: 20px;
  margin-left: 2%;
  position: relative;
  z-index: 10;
  background: whitesmoke;
}
.landing__filters .filter {
  margin-bottom: 1.71429em;
}
.landing__filters .landing__filters-filters {
  overflow: hidden;
  margin-bottom: 1.71429em;
  display: block;
  clear: both;
}
@media all and (max-width: 992px) {
  .landing__filters {
    max-width: 140px;
    padding-left: 0;
    padding-top: 0;
    background: none;
  }
  .landing__filters .landing__filters-toggle {
    background: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%203%2C2L%2020.9888%2C2L%2021%2C2L%2021%2C2.01122L%2021%2C3.99999L%2020.9207%2C3.99999L%2014%2C10.9207L%2014%2C22.909L%209.99999%2C18.909L%2010%2C10.906L%203.09405%2C3.99999L%203%2C3.99999L%203%2C2%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A') no-repeat 5px 50%;
    background-size: 20px 20px;
    padding: 0.42857em 3px 0.42857em 30px;
    background-color: #E00023;
    border-bottom: solid 3px #940017;
    font-size: 1em;
    line-height: 1.71429em;
    color: #fff;
    font-weight: normal;
    text-align: left;
    cursor: pointer;
    width: 140px;
  }
  .landing__filters .landing__filters-filters {
    display: none;
  }
  .landing__filters.landing__filters--active .landing__filters-filters {
    display: block;
    position: absolute;
    width: 250px;
    right: 0;
    background: whitesmoke;
    padding: 0.85714em;
  }
}
@media all and (max-width: 720px) {
  .landing__filters {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    float: none;
    max-width: none;
  }
  .landing__filters .landing__filters-toggle {
    width: 100%;
  }
  .landing__filters.landing__filters--active .landing__filters-filters {
    display: block;
    position: absolute;
    width: auto;
    right: 0;
    left: 0;
    background: whitesmoke;
    padding: 0.85714em;
    border-bottom: solid 5px #E00023;
  }
}

.scheme-radio a {
  padding: 3px 10px;
  display: block;
  margin: 0 2px 1px 0;
  text-decoration: none;
  position: relative;
  padding-left: 1.71429em;
  color: #666;
}
.scheme-radio a:after {
  cursor: pointer;
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 1.28571em;
  height: 1.28571em;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  content: "";
  background-position: center center;
  background-size: 120% 120%;
  background-color: #fff;
  border-radius: 50%;
}

.landing__themes {
  margin-top: 0.85714em;
  margin-bottom: 2.14286em;
  width: 60%;
  overflow: hidden;
}
@media all and (max-width: 720px) {
  .landing__themes {
    width: 100%;
  }
}
.landing__themes .themes--theme {
  float: left;
  width: 23.5%;
  font-weight: bold;
  margin-right: 2%;
  border-bottom: solid 3px #ddd;
  padding: 0 0 0.42857em 0;
}
.landing__themes .themes--theme:last-child {
  margin-right: 0;
}
.landing__themes .themes--theme > a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
@media all and (max-width: 720px) {
  .landing__themes .themes--theme > a {
    font-size: 14px;
    white-space: nowrap;
  }
}
.landing__themes .themes--theme.tag--active {
  border-bottom: solid 3px #E00023;
}
.landing__themes .themes--theme.tag--active > a {
  color: #E00023;
}

.context-bar__panels--clearing {
  height: 635px;
  background: url("../images/example/landing/clearing-hero.png") no-repeat 50% 0 !important;
}

.navigation__panel__more:link, .navigation__panel__more:visited {
  color: #fff;
  text-decoration: none;
  font-size: 85%;
}

.gutter-sizer {
  width: 2%;
}

.landing__mask {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.landing__mask.landing__mask--active {
  opacity: 1;
  visibility: visible;
}

.landing__widget {
  float: left;
  height: 220px;
  box-sizing: border-box;
  background-color: whitesmoke;
  cursor: pointer;
  position: relative;
  transition: z-index 0.5s ease-in-out;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

@media all and (min-width: 0) and (max-width: 720px) {
  .landing__widget {
    width: 49%;
  }
}
@media (max-width: 540px) and (min-width: 0) {
  .landing__widget {
    width: 100%;
  }
}
@media all and (min-width: 721px) and (max-width: 992px) {
  .landing__widget {
    width: 32%;
  }
}
@media all and (min-width: 993px) and (max-width: 1200px) {
  .landing__widget {
    width: 32%;
  }
}
@media all and (min-width: 1200px) {
  .landing__widget {
    width: 32%;
  }
}
.no-touch .landing__widget--link:not(.landing__widget--active):hover:after {
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%2010.5858%2C13.4142C%2010.9763%2C13.8047%2010.9763%2C14.4379%2010.5858%2C14.8284C%2010.1952%2C15.2189%209.56207%2C15.2189%209.17154%2C14.8284C%207.21892%2C12.8758%207.21892%2C9.70995%209.17154%2C7.75733L%209.17157%2C7.75736L%2012.707%2C4.2219C%2014.6596%2C2.26928%2017.8255%2C2.26929%2019.7781%2C4.2219C%2021.7307%2C6.17452%2021.7307%2C9.34034%2019.7781%2C11.293L%2018.2925%2C12.7785C%2018.3008%2C11.9583%2018.1659%2C11.1368%2017.8876%2C10.355L%2018.3639%2C9.87865C%2019.5355%2C8.70708%2019.5355%2C6.80759%2018.3639%2C5.63602C%2017.1923%2C4.46445%2015.2929%2C4.46445%2014.1213%2C5.63602L%2010.5858%2C9.17155C%209.41419%2C10.3431%209.41419%2C12.2426%2010.5858%2C13.4142%20Z%20M%2013.4142%2C9.17155C%2013.8047%2C8.78103%2014.4379%2C8.78103%2014.8284%2C9.17155C%2016.781%2C11.1242%2016.781%2C14.29%2014.8284%2C16.2426L%2014.8284%2C16.2426L%2011.2929%2C19.7782C%209.34026%2C21.7308%206.17444%2C21.7308%204.22182%2C19.7782C%202.26921%2C17.8255%202.2692%2C14.6597%204.22182%2C12.7071L%205.70744%2C11.2215C%205.69913%2C12.0417%205.8341%2C12.8631%206.11234%2C13.645L%205.63601%2C14.1213C%204.46444%2C15.2929%204.46444%2C17.1924%205.63601%2C18.3639C%206.80758%2C19.5355%208.70708%2C19.5355%209.87865%2C18.3639L%2013.4142%2C14.8284C%2014.5858%2C13.6568%2014.5858%2C11.7573%2013.4142%2C10.5858C%2013.0237%2C10.1952%2013.0237%2C9.56207%2013.4142%2C9.17155%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}

.landing__widget--link .widget__wrapper[class*='icon--'] {
  padding-top: 95px;
  background-size: 64px 64px;
  background-position: 50% 18px;
  text-align: center;
}
.landing__widget--link .widget__wrapper[class*='icon--']:before {
  display: none;
}
.landing__widget--link .widget__wrapper[class*='icon--'] .widget__title,
.landing__widget--link .widget__wrapper[class*='icon--'] .widget__title > a {
  color: #E00023;
}
.landing__widget--link .widget__pin {
  top: 20px;
}

.landing__widget--inform .widget__wrapper,
.landing__widget--instruct .widget__wrapper {
  padding-top: 70px;
  background-size: 42px 42px;
  background-position: 50% 18px;
  text-align: center;
}
.landing__widget--inform .widget__wrapper:before,
.landing__widget--instruct .widget__wrapper:before {
  display: none;
}
.landing__widget--inform .widget__wrapper .widget__body,
.landing__widget--instruct .widget__wrapper .widget__body {
  min-height: 525px;
}
.landing__widget--inform .widget__wrapper .widget__content--short,
.landing__widget--instruct .widget__wrapper .widget__content--short {
  overflow: hidden;
  position: relative;
  height: 5em;
  /* exactly three lines */
}
.landing__widget--inform.landing__widget--active .widget__wrapper,
.landing__widget--instruct.landing__widget--active .widget__wrapper {
  text-align: left;
  background-position: 18px 18px;
}
.landing__widget--inform.landing__widget--active .widget__wrapper:before,
.landing__widget--instruct.landing__widget--active .widget__wrapper:before {
  display: block;
}

.landing__widget--instruct {
  background-color: #555;
  color: #fff;
}
.landing__widget--instruct .widget__title > a,
.landing__widget--instruct .article__title > a {
  color: #fff;
}
.landing__widget--instruct .widget__summary {
  color: #fff;
}
.landing__widget--instruct .widget__links a,
.landing__widget--instruct .widget__related a {
  color: #fff;
}
.landing__widget--instruct .button--inline {
  background-color: #000;
  border-color: #000;
}
.landing__widget--instruct .widget__sponsor:before,
.landing__widget--instruct .widget__advert:before {
  color: #fff;
  opacity: 0.7;
}
.landing__widget--instruct ul.bullets > li:before {
  color: #000;
  opacity: 0.3;
}
.landing__widget--instruct .widget__content--short {
  overflow: hidden;
  position: relative;
  height: 5em;
  /* exactly three lines */
}
.landing__widget--instruct .widget__sponsor img {
  background: whitesmoke;
  outline: solid 2px whitesmoke;
}
.landing__widget--instruct .article--teaser:after {
  color: #fff;
  opacity: 0.7;
}

.landing__widget--inspire {
  background-size: cover;
}
.landing__widget--inspire .widget__wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.landing__widget--inspire * {
  color: #fff !important;
}
.landing__widget--inspire .widget__sponsor img {
  background: whitesmoke;
  outline: solid 2px whitesmoke;
}
.landing__widget--inspire .widget__body {
  border-color: rgba(255, 255, 255, 0.2);
}
.landing__widget--inspire .widget__image {
  display: none;
}

.landing__widget--influence .widget__wrapper {
  position: static;
}
.landing__widget--influence .widget__wrapper:before {
  display: none;
}
.landing__widget--influence .widget__content--short {
  display: none;
}
.landing__widget--influence:not(.landing__widget--active) .widget__title {
  height: 70px;
  display: flex;
  align-items: center;
  margin: 115px 0 0 -18px;
  background: rgba(255, 255, 255, 0.95);
  color: #333;
  padding: 0 35px 0 20px;
  position: relative;
  z-index: 11;
}

.landing__widget--advert .widget__wrapper {
  min-height: 220px;
  padding-top: 10px;
}
@media all and (max-width: 720px) {
  .landing__widget--advert .widget__wrapper {
    padding-top: 18px;
    min-height: 236px;
  }
}
.landing__widget--advert:hover:after {
  content: none;
}

.landing__display--advert {
  width: 180px;
  height: 150px;
  display: block;
  margin: 20px auto 0 auto;
  background: #444;
}
.landing__display--advert:after {
  text-align: center;
  content: 'Advertisement';
  font-size: 11px;
  line-height: 10px;
  color: #888;
  width: 180px;
  display: block;
  margin: 0 auto;
}

.landing__widget--list {
  background: #666;
  height: 451px;
}
.landing__widget--list * {
  color: #fff !important;
}

.landing__widget--search .widget__wrapper {
  background: url("../images/landing/landing-widget-search.png");
  background-size: cover;
  padding: 40px 0 0 0;
}
.landing__widget--search .widget__title,
.landing__widget--search .widget__content--short {
  background: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  padding: 18px;
  margin: 0 18px 0 0;
}
.landing__widget--search .widget__content--short {
  padding-top: 0;
}
.landing__widget--search .widget__title {
  padding-bottom: 5px;
}
.landing__widget--search .form-item {
  padding: 0;
}
.landing__widget--search .form-actions {
  margin: 0;
}
.landing__widget--search .widget__pin {
  top: 45px;
}

.landing__widget--active {
  height: auto;
  width: 100%;
}
.landing__widget--active:hover {
  cursor: default;
}

.widget__wrapper {
  padding: 18px;
  min-height: 220px;
}

.widget__pin,
.widget__close {
  position: absolute;
  top: 18px;
  z-index: 11;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -500px;
  overflow: hidden;
}
.widget__pin:hover,
.widget__close:hover {
  cursor: pointer;
}

.widget__close {
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23E00023%22%20fill-opacity%3D%221%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%2019%2C6.41L%2017.59%2C5L%2012%2C10.59L%206.41%2C5L%205%2C6.41L%2010.59%2C12L%205%2C17.59L%206.41%2C19L%2012%2C13.41L%2017.59%2C19L%2019%2C17.59L%2013.41%2C12L%2019%2C6.41%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  right: 14px;
  width: 32px;
  height: 32px;
}

.widget__pin {
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23E00023%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%2015.9994%2C11.9981L%2015.9994%2C3.99807L%2016.9994%2C3.99807L%2016.9994%2C1.99807L%206.99939%2C1.99807L%206.99939%2C3.99807L%207.99939%2C3.99807L%207.99939%2C11.9981L%205.99939%2C13.9981L%205.99939%2C15.9981L%2011.1994%2C15.9981L%2011.1994%2C21.9981L%2012.7994%2C21.9981L%2012.7994%2C15.9981L%2017.9994%2C15.9981L%2017.9994%2C13.9981L%2015.9994%2C11.9981%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  opacity: 0;
  top: 135px;
  right: 20px;
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  width: 28px;
  height: 28px;
  background-size: 85% 85%;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.widget__pin:hover {
  opacity: 1;
}

.landing__widget:hover .widget__pin {
  opacity: 1;
  cursor: pointer;
}

.landing__widget--active .widget__pin:hover,
.landing__widget--active .widget__close:hover {
  background-color: rgba(68, 68, 68, 0.1);
}
.landing__widget--active .widget__pin {
  background-size: 85% 85%;
  right: 50px;
  top: 18px;
  bottom: auto;
  width: 32px;
  height: 32px;
  opacity: 1;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.landing__widget--active .widget__pin:hover {
  opacity: 1;
}
@media all and (max-width: 720px) {
  .landing__widget--active .widget__title {
    margin-top: 0.85714em;
  }
}

.landing__widget--inspire .widget__close,
.landing__widget--instruct .widget__close {
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%2019%2C6.41L%2017.59%2C5L%2012%2C10.59L%206.41%2C5L%205%2C6.41L%2010.59%2C12L%205%2C17.59L%206.41%2C19L%2012%2C13.41L%2017.59%2C19L%2019%2C17.59L%2013.41%2C12L%2019%2C6.41%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}
.landing__widget--inspire.landing__widget--active .widget__pin,
.landing__widget--instruct.landing__widget--active .widget__pin {
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%2015.9994%2C11.9981L%2015.9994%2C3.99807L%2016.9994%2C3.99807L%2016.9994%2C1.99807L%206.99939%2C1.99807L%206.99939%2C3.99807L%207.99939%2C3.99807L%207.99939%2C11.9981L%205.99939%2C13.9981L%205.99939%2C15.9981L%2011.1994%2C15.9981L%2011.1994%2C21.9981L%2012.7994%2C21.9981L%2012.7994%2C15.9981L%2017.9994%2C15.9981L%2017.9994%2C13.9981L%2015.9994%2C11.9981%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}

.landing__widget--pinned .widget__pin {
  opacity: 1;
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23E00023%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%2015.9994%2C11.9981L%2015.9994%2C3.99807L%2016.9994%2C3.99807L%2016.9994%2C1.99807L%206.99939%2C1.99807L%206.99939%2C3.99807L%207.99939%2C3.99807L%207.99939%2C11.9981L%205.99939%2C13.9981L%205.99939%2C15.9981L%2011.1994%2C15.9981L%2011.1994%2C21.9981L%2012.7994%2C21.9981L%2012.7994%2C15.9981L%2017.9994%2C15.9981L%2017.9994%2C13.9981L%2015.9994%2C11.9981%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}
.landing__widget--pinned .widget__pin:hover {
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23E00023%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%202%2C5.26848L%203.27711%2C4L%2020%2C20.7229L%2018.7315%2C22L%2012.7994%2C16.0679L%2012.7994%2C21.9981L%2011.1994%2C21.9981L%2011.1994%2C15.9981L%205.99939%2C15.9981L%205.99939%2C13.9981L%207.99939%2C11.9981L%207.99939%2C11.2679L%202%2C5.26848%20Z%20M%2015.9994%2C11.9981L%2017.9994%2C13.9981L%2017.9994%2C15.9981L%2017.8208%2C15.9981L%207.99939%2C6.1767L%207.99939%2C3.99807L%206.99939%2C3.99807L%206.99939%2C1.99807L%2016.9994%2C1.99807L%2016.9994%2C3.99807L%2015.9994%2C3.99807L%2015.9994%2C11.9981%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  opacity: 1;
}

.landing__widget--inspire.landing__widget--pinned .widget__pin,
.landing__widget--instruct.landing__widget--pinned .widget__pin {
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%2015.9994%2C11.9981L%2015.9994%2C3.99807L%2016.9994%2C3.99807L%2016.9994%2C1.99807L%206.99939%2C1.99807L%206.99939%2C3.99807L%207.99939%2C3.99807L%207.99939%2C11.9981L%205.99939%2C13.9981L%205.99939%2C15.9981L%2011.1994%2C15.9981L%2011.1994%2C21.9981L%2012.7994%2C21.9981L%2012.7994%2C15.9981L%2017.9994%2C15.9981L%2017.9994%2C13.9981L%2015.9994%2C11.9981%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}
.landing__widget--inspire.landing__widget--pinned .widget__pin:hover,
.landing__widget--instruct.landing__widget--pinned .widget__pin:hover {
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%202%2C5.26848L%203.27711%2C4L%2020%2C20.7229L%2018.7315%2C22L%2012.7994%2C16.0679L%2012.7994%2C21.9981L%2011.1994%2C21.9981L%2011.1994%2C15.9981L%205.99939%2C15.9981L%205.99939%2C13.9981L%207.99939%2C11.9981L%207.99939%2C11.2679L%202%2C5.26848%20Z%20M%2015.9994%2C11.9981L%2017.9994%2C13.9981L%2017.9994%2C15.9981L%2017.8208%2C15.9981L%207.99939%2C6.1767L%207.99939%2C3.99807L%206.99939%2C3.99807L%206.99939%2C1.99807L%2016.9994%2C1.99807L%2016.9994%2C3.99807L%2015.9994%2C3.99807L%2015.9994%2C11.9981%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}
.landing__widget--inspire:hover .widget__pin,
.landing__widget--instruct:hover .widget__pin {
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23E00023%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%2015.9994%2C11.9981L%2015.9994%2C3.99807L%2016.9994%2C3.99807L%2016.9994%2C1.99807L%206.99939%2C1.99807L%206.99939%2C3.99807L%207.99939%2C3.99807L%207.99939%2C11.9981L%205.99939%2C13.9981L%205.99939%2C15.9981L%2011.1994%2C15.9981L%2011.1994%2C21.9981L%2012.7994%2C21.9981L%2012.7994%2C15.9981L%2017.9994%2C15.9981L%2017.9994%2C13.9981L%2015.9994%2C11.9981%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}
.landing__widget--inspire:hover .widget__pin:hover,
.landing__widget--instruct:hover .widget__pin:hover {
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23E00023%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%202%2C5.26848L%203.27711%2C4L%2020%2C20.7229L%2018.7315%2C22L%2012.7994%2C16.0679L%2012.7994%2C21.9981L%2011.1994%2C21.9981L%2011.1994%2C15.9981L%205.99939%2C15.9981L%205.99939%2C13.9981L%207.99939%2C11.9981L%207.99939%2C11.2679L%202%2C5.26848%20Z%20M%2015.9994%2C11.9981L%2017.9994%2C13.9981L%2017.9994%2C15.9981L%2017.8208%2C15.9981L%207.99939%2C6.1767L%207.99939%2C3.99807L%206.99939%2C3.99807L%206.99939%2C1.99807L%2016.9994%2C1.99807L%2016.9994%2C3.99807L%2015.9994%2C3.99807L%2015.9994%2C11.9981%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}

.widget__title {
  font-weight: bold;
  font-size: 1.14286em;
  line-height: 1.5em;
  margin-bottom: 0.42857em;
  color: #000;
}
.widget__title > a {
  color: #000;
  text-decoration: none;
}

.widget__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: 105% auto;
  transition: all .5s ease-in-out;
  opacity: .8;
}

.landing__widget:hover .widget__image {
  background-size: 100% auto;
  opacity: 1;
}
.landing__widget:hover .widget__title a {
  color: #E00023;
}

.widget__image--full {
  max-height: 135px;
  overflow: hidden;
  margin-bottom: 0.85714em;
}

.landing__widget--background .widget__advert,
.landing__widget--background .widget__body {
  border-color: rgba(255, 255, 255, 0.2);
}

.widget__image.landing__widget--background-hidden {
  opacity: 0;
}

.widget__content--full {
  display: none;
}

.widget__list__items {
  margin: 0.85714em 0;
}
.widget__list__items h4 {
  color: #444444;
  font-size: 1em;
  line-height: 1.28571em;
}

.widget__list__item {
  margin: 0.85714em 0;
}

.widget__more {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.28571em 0;
  background-image: url('data:image/svg+xml;charset=utf-8,%EF%BB%BF%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024.00%2024.00%22%20enable-background%3D%22new%200%200%2024.00%2024.00%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20stroke-width%3D%220.2%22%20stroke-linejoin%3D%22round%22%20d%3D%22M%208.58527%2C16.584L%2013.1713%2C11.998L%208.58527%2C7.41198L%209.99927%2C5.99798L%2015.9993%2C11.998L%209.99927%2C17.998L%208.58527%2C16.584%20Z%20%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 25px;
  margin-right: 0.85714em;
}
