<!DOCTYPE html>
<html>
@head("Activités")

<body class="fixed-left">

	@universityDirectoryTopbar()
	<div id="welcome-container">
		<div id="welcome-name" class="container-460">
			<span id="ctl00_PortalWelcomeBar_LabelUserName"> &nbsp;</span>
		</div>
		<div id="welcome-date" class="container-460">
			<span id="ctl00_PortalWelcomeBar_LabelDateToday">Tuesday 22
				November</span>
		</div>
	</div>
	<div class="mainwrap">
		@mainMenuPane()

		<div id="contentpane">

			<div id="crumbsbar">
				<a href=" ">My.Anglia</a> &gt; My.Anglia
				login
			</div>

			<!-- <div id="centralpane"> -->
			<div id="contentstart">
				<div id="maincontentblockdept">
					<form method="post" action="@routes.AboutInstitutionCtrl.create()" accept-charset="ISO-8859-1">

								<div class="row">
									<div class="col-sm-6">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">Now let's get the details of
													your business</h4>
											</div>
											<div class="row">
												<div class="col-lg-12 temporaire">
													@if(flash.containsKey("error")) { <strong
														class="align-center alert-danger">
														@flash.get("error")</strong> } @if(flash.containsKey("SUCCESS")) {
													<strong class="align-center alert-success">@flash.get("SUCCESS")</strong>
													}
												</div>
											</div>
											<div class="panel-body">
												<div class="panel-body">

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="" class="control-label">Institution
																	Name *</label> <input type="text" name="InstitutionName"
																	id="InstitutionName" class="form-control">

															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="" class="control-label">Phone Number</label>
																<input type="text" name="codeId" id="codeId"
																	class="form-control">
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="" class="control-label">Country</label> <input
																	type="text" name="country" id="country"
																	class="form-control">
															</div>
														</div>

													</div>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="" class="">Business Email</label> <input
																	type="text" name="email" id="email" class="form-control">
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="" class="">Web Site</label> <input
																	type="text" name="website" id="website" class="form-control">
															</div>
														</div>

													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="" class="">Address*</label> <input
																	type="text" name="address" id="address"
																	class="form-control">
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="" class="">City*</label> <input type="text"
																	name="city" id="city" class="form-control">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="" class="">Region*</label> <input
																	type="text" name="region" id="region"
																	class="form-control">
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="" class="">Post-Code*</label> <input
																	type="text" name="postcode" id="postcode"
																	class="form-control">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-5">
															<div class="form_sep">
																<input class="btn btn-info" name="" id="" type="submit"
																	value="Save">
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</form>

						</div>


					<a class="skiplink" href="#rhs">Go to right hand side links</a> <a
						class="skiplink" href="#localmenu">go to local menu</a> <a
						class="skiplink" href="#menu">Go to main menu</a>

				</div>
				<!--maincontentblockdept-->
				<div id="maincontentblockdept">

					<a class="skiplink" href="#rhs">Go to right hand side links</a> <a
						class="skiplink" href="#localmenu">go to local menu</a> <a
						class="skiplink" href="#menu">Go to main menu</a>

				</div>
				<!--maincontentblockdept-->
			</div>
			<!--contentstart-->
		</div>
		<!--centralpane-->

	@foot()
</body>
</html>
