@(currentPage: models.util.Page[models.dto.AcademicYearDTO], currentFilter: String, academicYear: models.dto.AcademicYearDTO, viewMode: String)

@link(newPage:Int) = @{
    // Generate the link
   controllers.admins.routes.AcademicYearCtrl.list(newPage,currentFilter)
}
@quote(s: String) = @{
    "" + s + ""
}
@isDisabled(fieldName: String) = @{
    fieldName match {
        case "academicYear" => if(null == academicYear.getId())
            "name=" + quote(fieldName) else "name=" + quote(fieldName) + " disabled=" + quote("disabled")
        case _ => if((viewMode != "VIEW") && (viewMode != "DELETE"))
            "name=" + quote(fieldName) else "name=" + quote(fieldName) + " disabled=" + quote("disabled")

    }
}
<!DOCTYPE html>
<html>
@head("Activités")

<body class="fixed-left">

	@universityDirectoryTopbar()
	<div id="welcome-container">
		<div id="welcome-name" class="container-460">
			<span id="ctl00_PortalWelcomeBar_LabelUserName"> &nbsp;</span>
		</div>
		<div id="welcome-date" class="container-460">
			<span id="ctl00_PortalWelcomeBar_LabelDateToday">Tuesday 22
				November</span>
		</div>
	</div>
	<div class="mainwrap">
		@mainMenuPane()

		<div id="contentpane">

			<div id="crumbsbar">
				<a href="https://my.anglia.ac.uk/">My.Anglia</a> &gt; My.Anglia
				login
			</div>

			<!-- <div id="centralpane"> -->
			<div id="contentstart">
				<div id="maincontentblockdept">
					<form method="post" action="@controllers.admins.routes.AcademicYearCtrl.save()"
						accept-charset="ISO-8859-1">
						<div class="row">
							<div class="col-sm-6">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">Add academicYear</h4>
									</div>
									<div class="row">
                            <div class="col-lg-12 temporaire">
                                @if(flash.containsKey("error")) {
                                    <strong class="align-center alert-danger"> @flash.get("error")</strong>
                                }

                                @if(flash.containsKey("success")) {
                                    <strong class="align-center alert-success">@flash.get("success")</strong>
                                }
                            </div>
                        </div>
									<div class="panel-body">
										<div class="panel-body">
										<div class="row">
										<input type="hidden" name="viewMode" value="@viewMode"> <input
												type="hidden" name="academicYearPK-key"
												value="@academicYear.getId()">
												<div class="col-md-6">
													<div class="form-group">
														<label for="" class="control-label">Start Year *</label> 
														<select name="startYearFk" id="startYearFk" class="form-control r_year_fk">
 														 <option id="@academicYear.getStartYearFk_id()" value="@academicYear.getStartYearFk_id()">@academicYear.getStartYearFk()</option>
														</select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="" class="control-label">Start Month</label> 
														<select name="startMonthFk" id="startMonthFk" class="form-control r_month_fk">
 														 <option id="@academicYear.getStartMonthFk_id()" value="@academicYear.getStartMonthFk_id()">@academicYear.getStartMonthFk()</option>
														</select>
 													</div>
												</div>

											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="" class="">End Year</label> 
														<select name="endYearFk" id="endYearFk" class="form-control r_year_fk">
 														 <option id="@academicYear.getEndYearFk_id()" value="@academicYear.getEndYearFk_id()">@academicYear.getEndYearFk()</option>
														</select>
 													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="" class="">End Month</label> 
														<select name="endMonthFk" id="endMonthFk" class="form-control r_month_fk">
 														 <option id="@academicYear.getEndMonthFk_id()" value="@academicYear.getEndMonthFk_id()">@academicYear.getEndMonthFk()</option>
														</select>
 													</div>
												</div>

											</div>
											<div class="row">
											<div class="col-md-6">
													<div class="form-group">
														<label for="" class="">Active/ Deactive *</label>
														<select name="statusFk" id="statusFk" class="form-control r_status_fk">
 														 <option id="@academicYear.getStatusFk_id()" value="@academicYear.getStatusFk_id()">@academicYear.getStatusFk()</option>
														</select>
 													</div>
												</div>
                                            </div>
                                            @if(viewMode == "EDIT" || viewMode == "CREATE" ) {
											<div class="form-group" align="">
												<button type="submit" class='btn btn-success'
													title="Enregistrer">
													<i class="fa fa-save" style="color: white"></i> Enregistrer
												</button>
											</div>
											} else { @if(viewMode == "DELETE"){

											<div class="form-group" align="">
												 <a
													href="@controllers.admins.routes.AcademicYearCtrl.delete(academicYear.getId())"
													title="Supprimer" class="btn btn-danger"> <i
													class="fa fa-times-circle"></i> Supprimer
												</a>
											</div>
											}}
											<div class="row">
												<!-- <!-- <div class="col-sm-5">
													<div class="form_sep">
														<input class="btn btn-info" name="" id="" type="submit"
															value="Save">
													</div>
												</div> --> 
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="grid-view table-responsive" id="">
									<table class="">
										<thead>
											<tr>
 												<th id="">Start Y</th>
												<th id="">Start M</th>
												<th id="">End Y</th>
												<th id="">End M</th>
												<th id="">Status</th>
												<th class="" id="">Manage</th>
											</tr>
										</thead>
										<tbody>
										@for(academicYears <- currentPage.getList){
											<tr>
 														<td>@academicYears.getStartYearFk</td>
														<td>@academicYears.getStartMonthFk</td>
														<td>@academicYears.getEndYearFk</td>
														<td>@academicYears.getEndMonthFk</td>
														<td>@academicYears.getStatusFk</td>
														<td><a href="@controllers.admins.routes.AcademicYearCtrl.show("EDIT", academicYears.getId())" class="btn btn-primary"
													data-toggle="tooltip" title="Modifier"> <i
														class="glyphicon glyphicon-pencil"></i>
												</a> <a href="@controllers.admins.routes.AcademicYearCtrl.show("VIEW", academicYears.getId())" class="btn btn-default" title="Afficher"> <i
														class="glyphicon glyphicon-info-sign"></i>
												</a> <a href="@controllers.admins.routes.AcademicYearCtrl.show("DELETE", academicYears.getId())" class="btn btn-danger" data-toggle="tooltip"
													title="Supprimer"> <i class="glyphicon glyphicon-trash"></i>
												</a></td>

											</tr>
										}
										</tbody>
									</table>
									<!-- pagination -->
								<div id="pagination" class="pagination">
									<ul class="pagination">
										@if(currentPage.hasPrev) {
										<li class="precedent"><a
											href="@link(currentPage.getPageIndex - 1)">&larr;
												Precedent</a></li> } else {
										<li class="precedent desactive"><a>&larr; Precedent</a></li> }
										<li class="current"><a>
												@currentPage.getDisplayXtoYofZ</a></li> @if(currentPage.hasNext) {
										<li class="suivant"><a
											href="@link(currentPage.getPageIndex + 1)">Suivant &rarr;</a>
										</li> } else {
										<li class="suivant desactive"><a>Suivant &rarr;</a></li> }

									</ul>
								</div>
									<div class="keys" style="display: none"
										title=""></div>
								</div>
							</div>
						</div>
					</form>
					<a class="skiplink" href="#rhs">Go to right hand side links</a> <a
						class="skiplink" href="#localmenu">go to local menu</a> <a
						class="skiplink" href="#menu">Go to main menu</a>

				</div>
				<!--maincontentblockdept-->

			</div>
			<!--contentstart-->
		</div>
		<!--centralpane-->
	</div>
	</div>
	@foot()
</body>
</html>