@(currentPage: models.util.Page[models.dto.BatchDTO], currentFilter: String, batch: models.dto.BatchDTO, viewMode: String)

@link(newPage:Int) = @{
    // Generate the link
   routes.BatchCtrl.list(newPage,currentFilter)
}
@quote(s: String) = @{
    "" + s + ""
}
@isDisabled(fieldName: String) = @{
    fieldName match {
        case "batch" => if(null == batch.getBatchName())
            "name=" + quote(fieldName) else "name=" + quote(fieldName) + " disabled=" + quote("disabled")
        case _ => if((viewMode != "VIEW") && (viewMode != "DELETE"))
            "name=" + quote(fieldName) else "name=" + quote(fieldName) + " disabled=" + quote("disabled")

    }
}
<!DOCTYPE html>
<html>
@head("Activités")

<body class="fixed-left">

	@universityDirectoryTopbar()
	<div id="welcome-container">
		<div id="welcome-name" class="container-460">
			<span id="ctl00_PortalWelcomeBar_LabelUserName"> &nbsp;</span>
		</div>
		<div id="welcome-date" class="container-460">
			<span id="ctl00_PortalWelcomeBar_LabelDateToday">Tuesday 22
				November</span>
		</div>
	</div>
	<div class="mainwrap">
		@mainMenuPane()

		<div id="contentpane">

			<div id="crumbsbar">
				<a href="https://my.anglia.ac.uk/">My.Anglia</a> &gt; My.Anglia
				login
			</div>

			<!-- <div id="centralpane"> -->
			<div id="contentstart">
				<div id="maincontentblockdept">
					<form method="post" action="@routes.BatchCtrl.save()"
						accept-charset="ISO-8859-1">
						<div class="row">
							<div class="col-sm-6">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">Add Batch</h4>
									</div>
									<div class="row">
                            <div class="col-lg-12 temporaire">
                                @if(flash.containsKey("error")) {
                                    <strong class="align-center alert-danger"> @flash.get("error")</strong>
                                }

                                @if(flash.containsKey("success")) {
                                    <strong class="align-center alert-success">@flash.get("success")</strong>
                                }
                            </div>
                        </div>
									<div class="panel-body">
										<div class="panel-body">
										<div class="row">
										<input type="hidden" name="viewMode" value="@viewMode"> <input
												type="hidden" name="batchPK-key"
												value="@batch.getId()">
												<div class="col-md-6">
													<div class="form-group">
														<label for="" class="control-label">Course *</label> 
														<select name="courseFk" id="courseFk" class="form-control course_fk">
 														 <option id="@batch.getCourseFk()" value="@batch.getCourseFk()">@batch.getCourseTitle()</option>
														</select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="" class="control-label">Batch Name</label> 
                                                        <input type="text" name="batchName" id="batchName" class="form-control" value="@batch.getBatchName()">
													</div>
												</div>

											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="" class="">Start Date</label> 
														<input type="text" name="startDate" id="startDate" class="form-control" value="@batch.getStartDate()">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="" class="">End Date</label> 
                                                        <input type="text" name="endDate" id="endDate" class="form-control" value="@batch.getEndDate()">
													</div>
												</div>

											</div>
											<div class="row">
											<div class="col-md-6">
													<div class="form-group">
														<label for="" class="">Maximum Number of Students *</label>
														<input type="text" name="maxStudent" id="maxStudent" class="form-control" value="@batch.getMaxStudent()"> 
													</div>
												</div>
                                            </div>
                                            @if(viewMode == "EDIT" || viewMode == "CREATE" ) {
											<div class="form-group" align="">
												<button type="submit" class='btn btn-success'
													title="Enregistrer">
													<i class="fa fa-save" style="color: white"></i> Enregistrer
												</button>
											</div>
											} else { @if(viewMode == "DELETE"){

											<div class="form-group" align="">
												 <a
													href="@routes.BatchCtrl.delete(batch.getId())"
													title="Supprimer" class="btn btn-danger"> <i
													class="fa fa-times-circle"></i> Supprimer
												</a>
											</div>
											}}
											<div class="row">
												<!-- <!-- <div class="col-sm-5">
													<div class="form_sep">
														<input class="btn btn-info" name="" id="" type="submit"
															value="Save">
													</div>
												</div> --> 
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="grid-view table-responsive" id="">
									<table class="">
										<thead>
											<tr>
 												<th id="">Course</th>
												<th id="">Batch</th>
												<th id="">Max.No</th>
												<th id="">Start Date</th>
												<th id="">End Date</th>
												<th class="" id="">Manage</th>
											</tr>
										</thead>
										<tbody>
										@for(batchs <- currentPage.getList){
											<tr>
 														<td>@batchs.getCourseTitle</td>
														<td>@batchs.getBatchName</td>
														<td>@batchs.getMaxStudent</td>
														<td>@batchs.getStartDate</td>
														<td>@batchs.getEndDate</td>
														<td><a href="@routes.BatchCtrl.show("EDIT", batchs.getId())" class="btn btn-primary"
													data-toggle="tooltip" title="Modifier"> <i
														class="glyphicon glyphicon-pencil"></i>
												</a> <a href="@routes.BatchCtrl.show("VIEW", batchs.getId())" class="btn btn-default" title="Afficher"> <i
														class="glyphicon glyphicon-info-sign"></i>
												</a> <a href="@routes.BatchCtrl.show("DELETE", batchs.getId())" class="btn btn-danger" data-toggle="tooltip"
													title="Supprimer"> <i class="glyphicon glyphicon-trash"></i>
												</a></td>

											</tr>
										}
										</tbody>
									</table>
									<!-- pagination -->
								<div id="pagination" class="pagination">
									<ul class="pagination">
										@if(currentPage.hasPrev) {
										<li class="precedent"><a
											href="@link(currentPage.getPageIndex - 1)">&larr;
												Precedent</a></li> } else {
										<li class="precedent desactive"><a>&larr; Precedent</a></li> }
										<li class="current"><a>
												@currentPage.getDisplayXtoYofZ</a></li> @if(currentPage.hasNext) {
										<li class="suivant"><a
											href="@link(currentPage.getPageIndex + 1)">Suivant &rarr;</a>
										</li> } else {
										<li class="suivant desactive"><a>Suivant &rarr;</a></li> }

									</ul>
								</div>
									<div class="keys" style="display: none"
										title=""></div>
								</div>
							</div>
						</div>
					</form>
					<a class="skiplink" href="#rhs">Go to right hand side links</a> <a
						class="skiplink" href="#localmenu">go to local menu</a> <a
						class="skiplink" href="#menu">Go to main menu</a>

				</div>
				<!--maincontentblockdept-->

			</div>
			<!--contentstart-->
		</div>
		<!--centralpane-->
	</div>
	</div>
	@foot()
</body>
</html>