
<form method="post" action="" accept-charset="ISO-8859-1">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="numActivite" class="control-label">Numéro</label> <input
					type="text" class="form-control" placeholder="" name="numActivite"
					id="numActivite">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="intitule" class="control-label">Intitule</label> <input
					type="text" class="form-control" placeholder="" name="intitule"
					id="intitule">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="nombrePrevu" class="control-label"> Quantité
					prévu</label> <input type="text" class="form-control" min="0"
					placeholder="" name="nombrePrevu" id="nombrePrevu">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="unite" class="control-label">Unité</label> <select
					class="form-control" name="unite">
					<option value="">--- Choisir une unité ---</option> @for(unite <-
					unites){
					<option value="@unite.getUnite">@unite.getUnite</option> }
				</select>
			</div>
		</div>
	</div>
	<div class="">
		<div class="col-md-6">
			<div class="form-group">
				<label for="date">Date début prévisonnelle</label> <input
					type="text" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
					class="form-control autoFormatDate" name="dateDebutPrevisionnelle"
					id="dateDebutPrevisionnelle" placeholder="JJ/MM/AAAA"
					aria-describedby="helpBlock" autocomplete="off" required="required">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="date">Date fin prévisionnelle</label> <input type="text"
					pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
					class="form-control autoFormatDate" name="dateFinPrevisionnelle"
					id="dateFinPrevisionnelle" placeholder="JJ/MM/AAAA"
					aria-describedby="helpBlock" autocomplete="off" required="required">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="typeExecution" class="control-label">Type
					d'exécution</label> <select class="form-control" name="typeExecution"
					required="required">
					<option value="">--- Choisir un schéma d'exécution ---</option>
					<option value="passation de marche">Passation de marché</option>
					<option value="subvention">Subvention directe</option>
					<option value="Appel d''offre local">Appel d''offre local</option>
					<option value="Appui budgetaire">Appui budgetaire</option>
					<option value="Régie">Régie</option>
				</select>
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label for="montantEngagement" class="control-label">Montant
					global EURO</label>
				<div class="input-group">
					<input type="text" class="form-control" min="0" placeholder=""
						name="montantGlobalEuro" id="montantGlobalEuro"> <span
						class="input-group-addon">EURO</span>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label for="montantGlobal" class="control-label">Montant
					global FCFA</label>
				<div class="input-group">
					<input type="text" class="form-control separateur-millier" min="0"
						placeholder="" name="montantGlobalFCFA" id="montantGlobalFCFA">
					<span class="input-group-addon">FCFA</span>
				</div>
			</div>
			<input type="button" class="btn btn-primary" name="convert"
				id="convert" value="Convert EURO->FCFA">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<a href="javascript:history.back(-1)"
					class="btn btn-danger waves-effect waves-light m-b-5">Annuler</a>
				<button type="submit"
					class="btn btn-primary waves-effect waves-light m-b-5"
					title="Sauvegarder les informations">Ajouter</button>
			</div>
		</div>
	</div>
	</div>
</form>