<form method="post" action="" accept-charset="ISO-8859-1">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="" class="control-label">Name</label> 
				<input type="text" class="form-control" placeholder="" name="" id="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="" class="control-label">Code</label> 
				<input type="text" class="form-control" placeholder="" name="" id="">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="" class="control-label">Status</label> 
				<input type="radio" class="form-control" placeholder="" name="status" id="" value="Active" gr>
				<input type="radio" class="form-control" placeholder="" name="status" id="" value="Inactive">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<a href="javascript:history.back(-1)"
					class="btn btn-danger waves-effect waves-light m-b-5">Annuler</a>
				<button type="submit"
					class="btn btn-primary waves-effect waves-light m-b-5"
					title="Sauvegarder les informations">Create</button>
			</div>
		</div>
	</div>
</form>