<!DOCTYPE html>
<html>
@head("Activités")

<body class="fixed-left">

	@universityDirectoryTopbar() 
	<div id="welcome-container">
		<div id="welcome-name" class="container-460">
			<span id="ctl00_PortalWelcomeBar_LabelUserName"> &nbsp;</span>
		</div>
		<div id="welcome-date" class="container-460">
			<span id="ctl00_PortalWelcomeBar_LabelDateToday">Tuesday 22
				November</span>
		</div>
	</div>
	<div class="mainwrap">
@mainMenuPane()

		<div id="contentpane">

			<div id="crumbsbar">
				<a href="https://my.anglia.ac.uk/">My.Anglia</a> &gt; My.Anglia
				login
			</div>
			
			<div id="centralpane">
				<div id="contentstart">
					<div id="maincontentblockdept">
						<!-- <h1>My.Anglia login page</h1>
						<a id="startcontent"></a>
						<h4>Anglia Ruskin University One Stop login</h4> -->

<form method="post" action="" accept-charset="ISO-8859-1">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="" class="control-label">Start Date</label> 
				<input type="text" class="form-control" placeholder="" name="" id="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="" class="control-label">End Date</label> 
				<input type="text" class="form-control" placeholder="" name="" id="">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="" class="control-label">Title</label> 
				<input type="radio" class="form-control" placeholder="" name="status" id="" value="Active" gr>
				<input type="radio" class="form-control" placeholder="" name="status" id="" value="Inactive">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="" class="control-label">Description</label> 
				<input type="radio" class="form-control" placeholder="" name="status" id="" value="Active" gr>
				<input type="radio" class="form-control" placeholder="" name="status" id="" value="Inactive">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<a href="javascript:history.back(-1)"
					class="btn btn-danger waves-effect waves-light m-b-5">Annuler</a>
				<button type="submit"
					class="btn btn-primary waves-effect waves-light m-b-5"
					title="Sauvegarder les informations">Create</button>
			</div>
		</div>
	</div>
</form>
						<a class="skiplink" href="#rhs">Go to right hand side links</a> <a
							class="skiplink" href="#localmenu">go to local menu</a> <a
							class="skiplink" href="#menu">Go to main menu</a>

					</div>
					<!--maincontentblockdept-->

				</div>
				<!--contentstart-->
			</div>
			<!--centralpane-->
		</div>
	</div>
	@foot()
</body>
</html>