
<!DOCTYPE HTML>
@head("")
<body>
	<!-- End Navigation -->

	<div class="clearfix"></div>

	<!-- Start Content -->

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Add Note</h4>
						</div>
						<div class="panel-body">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<h3>Default Tab</h3>

										<div class="tabbable-panel">
											<div class="tabbable-line">

												<div class="tab-content">
													<div class="tab-pane active" id="tab_default_1">
														<form method="post" action="@routes.StudentCtrl.save()" name="dataform" id="dataform">
															<fieldset id="personal_details">

																<legend class="positionHide">Personal Details</legend>
																<div class="row">
																	<div class="col-md-3">
																		<div class="form-group">
																			<label for="intitule" class="control-label ">Compte</label>
																			<select class="form-control institution" name=""
																			id="" isDisabled("compteImputationId") required="required"><option id="" value=""></option></select>
																			<em class="displayedHelp">If you don't have a
																				family name just enter a full stop into this
																				field.</em>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="intitule" class="control-label ">Compte</label>
																				<textarea rows="4" cols="4" class="form-control" name="institutionDetail" id="institutionDetail"></textarea>
																				<em class="displayedHelp">If you don't have a
																					family name just enter a full stop into this
																					field.</em>
																				</div>
																			</div>
																		</div>
																		<!-- ########################## Title ############################# -->

																		<div class="row">
																			<div class="col-md-3">
																				<div class="form-group">
																					<label for="title">Title *</label> <select
																					id="title" name="title" required="required"
																					data-parsley-required="true"
																					data-parsley-trigger="change"
																					data-parsley-id="1086">
																					<option value="">Please select</option>
																					<option value="MISS">Miss</option>
																					<option value="MR" selected="selected">Mr</option>
																					<option value="MRS">Mrs</option>
																					<option value="MS">Ms</option>
																					<option value="MX">Mx</option>
																					<option value="CANON">Canon</option>
																					<option value="DR">Dr</option>
																					<option value="LADY">Lady</option>
																					<option value="LORD">Lord</option>
																					<option value="PASTOR">Pastor</option>
																					<option value="PRINCE">Prince</option>
																					<option value="PROFESSOR">Professor</option>
																					<option value="REVEREND">Reverend</option>
																					<option value="SISTER">Sister</option>
																					<!--Dropdown menu populated from TTL table BT6 27/05/2014-->
																				</select>
																				<ul class="parsley-errors-list"
																				id="parsley-id-1086"></ul>
																			</div>
																		</div>

																	</div>
																	<!-- ########################## SURNAME AND PREVIOUS NAME(S) ############################# -->
																	<div class="row">
																		<div class="col-md-3">
																			<div class="form-group">
																				<label for="familyName" class="displayedHelp">Surname(s)/Family
																					name(s) *</label> <input type="text" id="familyName"
																					class="compulsoryFieldBg" name="familyName"
																					value="" maxlength="40"
																					data-parsley-maxlength="40" required=""
																					data-parsley-required="true"
																					data-parsley-trigger="focusout"
																					data-parsley-id="0476">
																					<ul class="parsley-errors-list"
																					id="parsley-id-0476"></ul>
																					<em class="displayedHelp">If you don't have a
																						family name just enter a full stop into this
																						field.</em>
																					</div>
																				</div>

																				<!-- ########################## GIVEN NAME(S) ############################# -->

																				<div class="col-md-3">
																					<div class="form-group">
																						<label for="firstName">First Name(s)/Given
																							name(s) *</label> <input type="text" id="firstName"
																							name="firstName" value="" maxlength="30"
																							data-parsley-maxlength="30" required=""
																							data-parsley-required="true"
																							data-parsley-trigger="focusout"
																							data-parsley-id="0125">
																							<ul class="parsley-errors-list"
																							id="parsley-id-0125"></ul>
																						</div>
																					</div>


																				</div>

																				<div class="row">
																					<!-- ######################### Middle NAME ###################### -->
																					<div class="col-md-3">
																						<div class="form-group">
																							<label for="IPR_FNM2">Middle name</label> <input
																							type="text" id="middleName" name="middleName" value=""
																							maxlength="30" data-parsley-maxlength="30"
																							data-parsley-trigger="focusout"
																							data-parsley-id="0906">
																							<ul class="parsley-errors-list"
																							id="parsley-id-0906"></ul>
																						</div>
																					</div>


																					<!-- ######################### PREFERRED NAME ###################### -->

																					<div class="col-md-3">
																						<div class="form-group">
																							<label for="preferedName">Preferred Name<a
																								href="#"
																								class="hiddenHelpIcon fa fa-question-circle"><span
																								class="positionHide">Field help.</span></a></label> <input
																								type="text" id="preferedName" name="preferedName"
																								value="" maxlength="30"
																								data-parsley-maxlength="30"
																								data-parsley-trigger="focusout"
																								data-parsley-id="2148">
																								<ul class="parsley-errors-list"
																								id="parsley-id-2148"></ul>
																								<em class="hiddenHelpText hide">The name you
																									prefer to be called (if different to your
																									forename). </em>
																								</div>
																							</div>
																						</div>


																						<!-- ######################### DATE OF BIRTH AND GENDER ###################### -->
																						<div class="row">
																							<div class="col-md-3">
																								<div class="form-group">
																									<label for="gender">Gender *</label> <select
																									id="gender" class="compulsoryFieldBg"
																									name="gender" required="required"
																									data-parsley-required="true"
																									data-parsley-trigger="change"
																									data-parsley-id="8720">
																									<option value="" selected="selected">Please
																										select</option>
																										<option value="male">Male</option>
																										<option value="female">Female</option>
																										<option value="other">Other</option>
																										<option value="prefer_not_to_say">Prefer not to say</option>
																										<!--Dropdown menu populated from all in use records in GEN table BT6 27/05/2014-->
																									</select>
																									<ul class="parsley-errors-list"
																									id="parsley-id-8720"></ul>
																								</div>
																							</div>

																							<div class="col-md-3">
																								<div class="form-group">
																									<label for="dateOfBirth">Date of birth
																										(dd/mm/yyyy) *<a href="#"
																										class="hiddenHelpIcon fa fa-question-circle"><span
																										class="positionHide">Field help.</span></a>
																									</label> <input type="text" id="dateOfBirth" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
																									placeholder="JJ/MM/AAAA"
																									name="dateOfBirth" value="20/08/1990" required=""
																									data-parsley-required="true"
																									data-parsley-datepkr="IPR_DOB"
																									data-parsley-trigger="change"
																									class="hasDatepicker" data-parsley-id="6524">
																									<ul class="parsley-errors-list"
																									id="parsley-id-6524"></ul>
																									<img class="ui-datepicker-trigger"
																									src="../images/si_calendar.gif" alt="..."
																									title="..." role="button" tabindex="0"> <em
																									class="hiddenHelpText hide">You can change
																									your date of birth here if it's incorrect. </em>
																								</div>
																							</div>

																						</div>
																						<!-- ######################### MOTHER TONGUE AND RELIGION ###################### -->
																						<!-- <div class="row">
																						<div class="col-md-3">
																						<div class="form-group">
																						<label for="gender">Mother Tongue *</label> <select
																						id="gender" class="compulsoryFieldBg"
																						name="gender" required=""
																						data-parsley-required="true"
																						data-parsley-trigger="change"
																						data-parsley-id="8720">
																						<option value="" selected="selected">Please
																						select</option>
																						<option value="M">Male</option>
																						<option value="F">Female</option>
																						<option value="N">Other</option>
																						<option value="X">Prefer not to say</option>
																						Dropdown menu populated from all in use records in GEN table BT6 27/05/2014
																					</select>
																					<ul class="parsley-errors-list"
																					id="parsley-id-8720"></ul>
																				</div>
																			</div>

																			<div class="col-md-3">
																			<div class="form-group">
																			<label for="dateOfBirth">Religion *<a
																			href="#"
																			class="hiddenHelpIcon fa fa-question-circle"><span
																			class="positionHide">Field help.</span></a>
																		</label> <input type="text" id="dateOfBirth"
																		name="dateOfBirth" value="20/Aug/1990" required=""
																		data-parsley-required="true"
																		data-parsley-datepkr="IPR_DOB"
																		data-parsley-trigger="change"
																		class="hasDatepicker" data-parsley-id="6524">
																		<ul class="parsley-errors-list"
																		id="parsley-id-6524"></ul>
																		<img class="ui-datepicker-trigger"
																		src="../images/si_calendar.gif" alt="..."
																		title="..." role="button" tabindex="0"> <em
																		class="hiddenHelpText hide">You can change
																		your date of birth here if it's incorrect. </em>
																	</div>
																</div>

															</div> -->


														</fieldset>
														<button type="submit" class="btn btn-primary waves-effect waves-light m-b-5" title="Sauvegarder les informations">Ajouter</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Content -->

<!-- START JAVASCRIPT -->
<!-- Placed at the end of the document so the pages load faster -->
@foot()
<script src="@routes.Assets.versioned("js/studentRegistration.js")"></script>

</body>
</html>
