@(Journee: String, mainMenuPaneDTO: models.dto.MainMenuPaneDTO)

@layout("index", Journee, mainMenuPaneDTO) {


<form method="post" action=" " accept-charset="ISO-8859-1">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Course</th>
			</tr>
			<tr>
				<th>Admission No</th>
				<th>Batch</th>
			</tr>
			<tr>
				<th>Invoice status</th>
			</tr>

		</thead>
	</table>
	<table>
		<thead>
			<tr>
				<th>Fee Subcategory</th>
				<th>Frequency</th>
				<th>Amount</th>
				<th>Invoice No</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>xxxx</td>
				<td>xxxx</td>
				<td>xxxx</td>
				<td>xxxx</td>
				<td>xxxx</td>
			</tr>
		</tbody>
	</table>

	<div>
		<h3>Payment</h3>
		<div class="col-md-4">
			<div class="form-group">
				<label for="firstName">Amount to be Paid*</label> <input type="text"
					id="" name="" value="" maxlength="30" )>
				<ul class="parsley-errors-list" id="parsley-id-0125"></ul>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class='btn btn-success' title="Enregistrer">
				<i class="fa fa-save" style="color: white"></i> Enregistrer
			</button>
		</div>
	</div>
</form>


}