@(currentPage: models.util.Page[schemas.public_.tables.pojos.StudentDetail], currentFilter: String, viewMode: String)

@link(newPage:Int) = @{
    // Generate the link
   routes.StudentCtrl.list(newPage,currentFilter)
}
@quote(s: String) = @{
    "" + s + ""
}
@isDisabled(fieldName: String) = @{
    fieldName match {
        case "studentDetail" => if(null == "")
            "name=" + quote(fieldName) else "name=" + quote(fieldName) + " disabled=" + quote("disabled")
        case _ => if((viewMode != "VIEW") && (viewMode != "DELETE"))
            "name=" + quote(fieldName) else "name=" + quote(fieldName) + " disabled=" + quote("disabled")

    }
}
<!DOCTYPE html>
<html>
@head("")

<body class="fixed-left">

	@universityDirectoryTopbar()
	<div id="welcome-container">
		<div id="welcome-name" class="container-460">
			<span id="ctl00_PortalWelcomeBar_LabelUserName"> &nbsp;</span>
		</div>
		<div id="welcome-date" class="container-460">
			<span id="ctl00_PortalWelcomeBar_LabelDateToday">Tuesday 22
				November</span>
		</div>
	</div>
	<div class="mainwrap">
		@mainMenuPane()

		<div id="contentpane">

			<div id="crumbsbar">
				<a href="https://my.anglia.ac.uk/">My.Anglia</a> &gt; My.Anglia
				login
			</div>


			<div id="contentstart">
				<div id="maincontentblockdept">

					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">Add Note</h4>
								</div>
								<form method="post" action="  ">
								<div class="panel-body">
									<div class="panel-body">
										<div class="col-sm-12">
								<div class="grid-view table-responsive" id="item-grid">
									<table class="items">
										<thead>
											<tr>
												<th id="item-grid_c0">Sl.No.</th>
												<th id="item-grid_c1">Course</th>
												<th class="button-column" id="item-grid_c5">Manage</th>
											</tr>
										</thead>
										<tbody>
										@for(student <- currentPage.getList){
											<tr @if(student.getStatus() == "UNAPPROVED"){class="bg-info"} @if(student.getStatus() == "APPROVED"){class="bg-success"}>
												<td></td>
												<td>@student.getFirstName</td>
												<td><a href="@routes.StudentCtrl.show("EDIT", student.getId(), "")" class="btn btn-primary"
													data-toggle="tooltip" title="Modifier"> <i
														class="glyphicon glyphicon-pencil"></i>
												</a> <a href="@routes.StudentCtrl.show("VIEW", student.getId(), "")" class="btn btn-default bg-info" title="Afficher"> <i
														class="glyphicon glyphicon-info-sign"></i>
												</a> <a href="@routes.StudentCtrl.imprimerStudentInfo(student.getId())" class="btn btn-danger" data-toggle="tooltip"
													title="Supprimer"> <i class="glyphicon glyphicon-trash"></i>
												</a></td>

											</tr>
											}
										</tbody>
									</table>
									<!-- pagination -->
								<div id="pagination" class="pagination">
									<ul class="pagination">
										@if(currentPage.hasPrev) {
										<li class="precedent"><a
											href="@link(currentPage.getPageIndex - 1)">&larr;
												Precedent</a></li> } else {
										<li class="precedent desactive"><a>&larr; Precedent</a></li> }
										<li class="current"><a>
												@currentPage.getDisplayXtoYofZ</a></li> @if(currentPage.hasNext) {
										<li class="suivant"><a
											href="@link(currentPage.getPageIndex + 1)">Suivant &rarr;</a>
										</li> } else {
										<li class="suivant desactive"><a>Suivant &rarr;</a></li> }

									</ul>
								</div>
									<div class="keys" style="display: none"
										title=""></div>
								</div>
							</div>
																		</div>
																	</div>
																	</form>
																<div class="tab-pane" id="tab_default_8"></div>
																<div class="tab-pane" id="tab_default_9"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								
					<a class="skiplink" href="#rhs">Go to right hand side links</a> <a
						class="skiplink" href="#localmenu">go to local menu</a> <a
						class="skiplink" href="#menu">Go to main menu</a>

				</div>
				<!--maincontentblockdept-->

			</div>
			<!--contentstart-->
	@foot()
</body>
</html>