<!DOCTYPE html>
<html>
    @head("Activit√©s")

    <body class="fixed-left">

    @universityDirectoryTopbar()
    @universityDirectoryNavigation()
    

    <div id="information-container">
	<div id="browser-check-flash-information">No flash message</div>
	<div id="browser-check-javascript-information">Some of the content and features delivered by this site requires JavaScript to be enabled in your browser</div>
</div>
    <div id="welcome-container">
	<div id="welcome-name" class="container-460"><span id="ctl00_PortalWelcomeBar_LabelUserName">			&nbsp;</span></div>
	<div id="welcome-date" class="container-460"><span id="ctl00_PortalWelcomeBar_LabelDateToday">Tuesday 22 November</span></div>
</div>
    <div class="mainwrap">
    <div id="mainmenupane">
			<div id="menu">
				<a class="skiplink" id="localmenu">Menu</a>
            			<!--htdig_noindex-->
						<ul>
							<li><a href="/anet/login.phtml">Login</a></li>
							<li><a href="/anet/about.phtml">About My.Anglia</a></li>
							<li><a href="/anet/novell.phtml">Who can login?</a></li>
						</ul>						
						
						
						
						
						
					
						

<!--/htdig_noindex-->
				<a class="skiplink" href="#localmenu">Go back to top of this menu</a>
				<a class="skiplink" href="#startcontent">Go to content</a>
			</div>
			<!--<div id="menudivider"><hr /></div>
			<div id="scmenu">
				<ul>
					<li class="m-lblue"><a href="http://web.angliaac.uk/anet/students/">Current Students</a></li>
					<li class="m-lblue"><a href="http://web.anglia.ac.uk/students/alumni.shtml">Former Students (Alumni)</a></li>
					<li class="m-lblue"><a href="http://www.anglia.ac.uk/anet">Current Staff (ANET)</a></li>
		
				</ul>
			</div>-->
						
	
			<div id="anetnav">
				<h2>My.Anglia</h2>
									<form action="/anet/login.phtml" method="post">
						<fieldset>
							<ol>
								<li class="login-field">
									<label for="usernamel"><span class="login-field-label">User ID</span></label>
									<input id="usernamel" type="text" onfocus="this.value=''" value="e.g. abc1" name="username">
								</li>
								<li class="login-field">
									<label for="passwdl"><span class="login-field-label">Password</span></label>
									<input id="passwdl" type="password" name="passwd">
								</li>
								<li>
									<input class="anetsubbut" type="submit" value="Login" name="login">
								</li>
							</ol>
							<input type="hidden" value="" name="submit">
							<input type="hidden" value="ldap" name="page">
							<!--<input type="hidden" name="refer" value="http://web.anglia.ac.uk/anet/" />-->
							<input type="hidden" value="/anet/staff/" name="refer">
						</fieldset>
					</form>

	<!--<a href="/anet/login.phtml">Login</a>-->				<!--<p class="anetp">Change size:-->
					
				<!--</p>--><!--<div id="fsize"><hr />-->
				<!--<p class="anetp"><a href="/anet/access.phtml">Accessibility</a></p>-->
							<!--<li><a href="#3">Help</a></li>-->
						
						
			</div><!--<div id="anetnav">-->
		</div>
		<div id="contentpane">
		
		<div id="crumbsbar">
          <a href="https://my.anglia.ac.uk/">My.Anglia</a> &gt; My.Anglia login  
    	</div>
		<div id="subnav">
			<a class="skiplink" href="#startcontent">Go to content</a> 
			<div id="rightpadding">
				<a id="rhs"></a> 
				<a class="skiplink" href="#rhs">Go back to top of these links</a>
				<a class="skiplink" href="#localmenu">go to local menu</a>
				<a class="skiplink" href="#menu">Go to main menu</a>
			</div>
		</div>		<!--RHS-->
	
												
			<!--/RHS-->
		<div id="centralpane">
			<div id="contentstart">
				<div id="maincontentblockdept">
				

			<h1>My.Anglia login page</h1>

			
            
   			
	
					<a id="startcontent"></a> 
<h4>Anglia Ruskin University One Stop login</h4>
 <div class="tabbable">
                <ul class="nav nav-tabs ">
                    <li class="active"><a href="#one" data-toggle="tab">One</a>

                    </li>
                    <li><a href="#two" data-toggle="tab">Two</a>

                    </li>
                    <li><a href="#twee" data-toggle="tab">Twee</a>

                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="one">Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate. Quisque
                        mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
                    <div
                    class="tab-pane" id="two">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan. Aliquam in felis sit amet augue.</div>
                <div class="tab-pane" id="twee">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                    varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                    condimentum vitae.</div>
            </div>
        </div>
		
					<form method="post" action="">
					
<!-- 						<div class="row">
	                                 <div class="col-md-6">
	                                    <div class="form-group">
	                                     <label for="" class="control-label">Chosir le Niveau (Master of Bachelor)</label>
	                                     <input type="text" class="form-control" placeholder="NumÈro" name="numComposante" required="required">
	                                      </div>
	                                 </div>
	                                 <div class="col-md-6">
	                                    <div class="form-group">
	                                     <label for="" class="control-label">Duree</label>
	                                     <input type="text" class="form-control" placeholder="NumÈro" name="numComposante" required="required">
	                                      </div>
	                                 </div>
	                     	       <div class="col-md-6">
	                                 <div class="form-group">
	                                   <label for="intitule" class="control-label">Department</label>
	                                   <input type="text" class="form-control"  placeholder="" name="intitule" required="required">
	                                 </div>
	                               </div>   
                                 </div>
                                 <div class="row">
                                	 <div class="col-md-6">                    
                               			<div class="form-group">	
		    	                           <label for="date">Date ouverture</label>
		    	                           <input type="text" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" class="form-control autoFormatDate" name="dateDebut" id="dateDebut" placeholder="JJ/MM/AAAA"  aria-describedby="helpBlock" autocomplete="off" required="required">
  	                          	 		</div>
  	                          	 	</div>
  	                          	 	<div class="col-md-6">
  	                           			<div class="form-group">
    	                          			 <label for="date">date de fermeture</label>
    	                            		<input type="text" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" class="form-control autoFormatDate" name="dateFin" id="dateFin" placeholder="JJ/MM/AAAA"  aria-describedby="helpBlock" autocomplete="off" required="required">
  	                           			</div>
  	                           		</div>
  	                           </div>
  	                           <div class="row">
  	                           		<div class="col-md-6">
		  	                           <div class="form-group">
		  	                           <label for="montantGlobalEuro" class="control-label">Type de bourse</label>
		  	                           	 <div class="input-group">			                    	          
			                                  <input type="text" min="0" class="form-control" placeholder="" name="montantGlobalEuro" id="montantGlobalEuro">                                                       
		                               		  <span class="input-group-addon" >Euro</span>
                                         </div>
		                               </div>
                               		</div>
                               		<div class="col-md-6">
                            				 <div class="form-group">
                                         <label for="montantGlobalFcfa" class="control-label">Enquiries</label>
                                        	 <div class="input-group">
                                          	<input type="text" class="form-control separateur-millier" min="0" placeholder="" name="montantGlobalFcfa" id="montantGlobalFCFA">
                                               	<span class="input-group-addon" >FCFA</span>
                                        	</div>
                                               </div> 
                                          <input type="button" class="btn btn-primary" name="convert" id="convert" value="Convert EURO->FCFA">                                                                             
                                     </div> 
                               </div> -->

					</form>
					<a class="skiplink" href="#rhs">Go to right hand side links</a>
<a class="skiplink" href="#localmenu">go to local menu</a>
<a class="skiplink" href="#menu">Go to main menu</a> 
				
					</div><!--maincontentblockdept-->
			
			</div><!--contentstart-->
		</div><!--centralpane-->
	</div>
    </div>


                <footer class="footer text-right">
              
                </footer>


        @foot()
    </body>
</html>