<!DOCTYPE html>
<html>
<head>
<link href="@routes.Assets.versioned("css/sd7kt8ijyas44ogks0g4gg00o0kwgkc.css")" rel="stylesheet">
</head>
<body class="fixed-left">

	<section class="col1 wrapped no-vertical-padding">
		<div class="colblock">
			<div data-module="StudyNew:content-switcher"
				class="Module StudyPortals_Academic_Modules_StudyNew_ContentSwitcher">
				<ul id="ContentSwitcher">
					<li class="ContentButton js-contentButtons is-active"
						data-id="description">Overview</li>
					<li class="ContentButton js-contentButtons" data-id="contents">
						Programme outline</li>
					<li class="ContentButton js-contentButtons" data-id="key_facts">
						Key facts</li>
					<li class="ContentButton js-contentButtons" data-id="requirement">
						Admission requirements</li>
					<li class="ContentButton js-contentButtons"
						data-id="fees_and_funding">Fees and funding</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="SwitchableContent"
		class="col2-left wrapped no-vertical-padding">
		<div class="colblock no-top-margin">
			<div data-module="StudyNew:study_description"
				class="Module StudyPortals_Academic_Modules_Study_DescriptionBase StudyPortals_Academic_Modules_StudyNew_Description js-contentSwitchable js-content-description">
				<section id="StudyDescription">
					<h2>About</h2>
					<p>PCS was created by the participating institutions of the
						Center for Computational Sciences and the Faculty of Mathematics
						and Computer Science at the Georg-August-Universität Göttingen in
						2005 with the mission to provide high quality PhD education on a
						high scientific level within three years.</p>
					<p>PCS is open to students from Germany and from abroad who
						hold a Master's degree in Computer Sciences (or equivalent). After
						the successful completion of the PCS programme, the international
						degree of PhD (Doctor of Philosophy) or alternatively the degree
						of Dr. rer. nat. (Doctor rerum naturalium) will be awarded.</p>
				</section>
			</div>
			<div data-module="Study:study_facts_phd"
				class="Module StudyPortals_Academic_Modules_StudyNew_KeyFacts StudyPortals_PhD_Modules_Study_FactsPhD js-contentSwitchable js-content-key_facts Hidden">
				<section id="StudyKeyFacts">
					<h2 class="KeyFactsTitle">Detailed Programme Facts</h2>
					<ul class="FactsItemsContainer">
						<li class="FactItem">
							<div class="startmonthContainer">
								<ul>
									<li class="StartDateItem">
										<p class="FactItemLabel js-deadlineFact">
											Started in <strong> <time itemprop="startDate"
													class="NoZulu" data-format="%B %Y"
													datetime="2016-10-01 00:00:00">October 2016</time>
											</strong>
										</p>
										<div class="FactData">
											<ul>
												<li>There is no deadline for this start date.</li>
											</ul>
											<p class="DatesInformation">Dates reflect the
												university's timezone.</p>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="FactItem js-durationFact"><span
							class="FactItemLabel">Duration full-time</span> <abbr
							class="Duration FactData" data-rewrite="true"
							data-period="months" data-duration="36" data-weeks-single="week"
							data-weeks-multiple="weeks" data-months-single="month"
							data-months-multiple="months" data-years-single="year"
							data-years-multiple="years" title=" 36&nbsp; months ">3
								years</abbr></li>
						<li class="FactItem js-languageFact">
							<div class="Languages">
								<span class="FactItemLabel">Languages</span>
								<ul class="FactData">
									<li>English</li>
								</ul>
							</div>
							<div class="LanguageIncentive">
								<a href="http://9nl.com/BritishCouncil_IELTS/" target="_blank"
									rel="nofollow" title="Take IELTS test" class="Button"
									data-ga-tracking="{&quot;category&quot;:&quot;Banners&quot;,&quot;action&quot;:&quot;Text banner click&quot;,&quot;label&quot;:&quot;IELTS&quot;,&quot;event&quot;:&quot;click&quot;}"
									data-ga-parsed="true"> Take IELTS test </a> <a
									href="http://www.languagelearningportal.com/search/en-GB/?q=ln-3"
									target="_blank" title="Find English Courses"
									class="Button LLPLink"> Find English Courses </a>
							</div>
						</li>
						<li class="FactItem"><span class="FactItemLabel">Delivery
								mode</span>
							<div class="FactData">On Campus</div></li>
						<li class="FactItem"><span class="FactItemLabel">Educational
								variant</span> <span class="FactData"> Full-time </span></li>
						<li class="FactItem"><span class="FactItemLabel">Project
								Type</span> <span class="FactData"> Open </span></li>
						<li class="FactItem"><span class="FactItemLabel">Educational
								Form</span> <span class="FactData"> Academic </span></li>
					</ul>
				</section>
			</div>
			<div data-module="StudyNew:study_contents"
				class="Module StudyPortals_Academic_Modules_StudyNew_Contents js-contentSwitchable js-content-contents Hidden">
				<article id="StudyContents">
					<h2>Programme Structure</h2>
					The PCS programme is designed as a three years programme and is
					subdivided into two simultaneously running parts: the research part
					and the academic achievement part. In the following figure shows
					the structure of PCS.
				</article>
			</div>
			<div data-module="StudyNew:study_language_requirements"
				class="Module StudyPortals_Academic_Modules_StudyNew_LanguageRequirements js-contentSwitchable js-content-requirement Hidden">
				<section id="LanguageRequirements">
					<h2>Test Scores</h2>
					<ul class="LanguageTests">
						<li class="LanguageTestItem"><a
							href="http://www.mastersportal.eu/pages/ielts/"
							target="requirements_english"
							title="Scores can range from 1.0 - 9.0"> IELTS </a>
							<div class="Score">6</div>
							<div>
								<a href="http://9nl.com/BritishCouncil_IELTS/" target="_blank"
									title="take IELTS test"
									data-ga-tracking="{&quot;category&quot;:&quot;Banners&quot;,&quot;action&quot;:&quot;Text banner click&quot;,&quot;label&quot;:&quot;IELTS&quot;,&quot;event&quot;:&quot;click&quot;}"
									data-ga-parsed="true"> take IELTS test </a>
							</div></li>
						<li class="LanguageTestItem"><a
							href="http://www.mastersportal.eu/pages/toefl/"
							target="requirements_english"
							title="Scores can range from 310 - 677"> TOEFL(PBT) </a>
							<div class="Score">550</div></li>
						<li class="LanguageTestItem"><a
							href="http://www.mastersportal.eu/pages/toefl/"
							target="requirements_english"
							title="Scores can range from 0 - 120"> TOEFL(IBT) </a>
							<div class="Score">80</div></li>
					</ul>
				</section>
			</div>
			<div data-module="StudyNew:study_requirement"
				class="Module StudyPortals_Academic_Modules_StudyNew_Requirement js-contentSwitchable js-content-requirement Hidden">
				<section id="StudyRequirement">
					<h2>Academic Requirements</h2>
					<p></p>
					<ul>
						<li>Cover Sheet: first page of the application<br></li>
						<li>Curriculum Vitae<br></li>
						<li>Certificates and Official Transcript/ Record of Study:
							certificates such as B. Sc. and M. Sc. , detailed documentation
							of your academic work, i.e. list of courses at all
							colleges/universities attended; grades if applicable<br>
						</li>
						<li>PhD Research Proposal: intended research area including
							your prospective contributions to the group, a proposal for a PhD
							work<br>
						</li>
						<li>PCS Admission Form: Please fill out this form in
							cooperation with your supervisor.<br>
						</li>
						<li>Graduate declaration<br></li>
					</ul>
					<p></p>
				</section>
			</div>
			<div data-module="StudyNew:study_technical_requirements"
				class="Module StudyPortals_Academic_Modules_StudyNew_TechnicalRequirements EmptyModule js-contentSwitchable js-content-requirement Hidden">
			</div>
			<div data-module="StudyNew:tuition_fee"
				class="Module StudyPortals_Academic_Modules_StudyNew_TuitionFee js-contentSwitchable js-content-fees_and_funding Hidden">
				<section id="TuitionFeeContainer" class="js-tuitionFact">
					<p>From the winter semester 2014/15 on, there will be no more
						tuition fees in Lower Saxony.</p>
				</section>
			</div>
			<div data-module="StudyNew:global_study_awards"
				class="Module StudyPortals_Academic_Modules_StudyNew_GlobalStudyAwards js-contentSwitchable js-content-fees_and_funding Hidden">
				<section id="GlobalStudyAwardsContainer">
					<div class="GlobalStudyAwardsIncentive">
						<a
							href="http://www.mastersportal.eu/pages/the-global-study-awards/#fflt:SP_GSA1"
							target="_awards"
							title="The Global Study Awards: Expand Your Horizons"
							class="GlobalStudyAwardsTitle"> The Global Study Awards:
							Expand Your Horizons </a>
						<p class="GlobalStudyAwardsText icon-earth">The award
							recognises studying abroad as a positively life changing
							experience for many students as well as promoting intercultural
							understanding and tolerance. Successful candidates will receive
							up to £10,000 to be applied toward the cost of tuition fees.</p>
					</div>
				</section>
			</div>
			<div data-module="StudyNew:funding"
				class="Module StudyPortals_Academic_Modules_StudyNew_Funding EmptyModule js-contentSwitchable js-content-fees_and_funding Hidden">
			</div>
			<div data-module="StudyNew:study_switcher_conversion"
				class="Module StudyPortals_Academic_Modules_StudyNew_SwitcherConversion js-contentSwitchable js-content-description js-content-contents js-content-key_facts js-content-requirement js-content-fees_and_funding">
				<aside class="SwitcherConversion">
					<a href="http://www.phdportal.com/search/#q=di-281|lv-phd"
						title="I want to find another %1 Course"> I want to find
						another Phd Course </a>
				</aside>
			</div>
			<div data-module="ContentFeedbackTool:ContentFeedbackToolStudy"
				class="Module ContentFeedbackTool ContentFeedbackToolStudy js-contentSwitchable js-content-description js-content-contents js-content-key_facts js-content-requirement js-content-fees_and_funding">
				<script>
					var feedbackUrl = 'https://dqcdurac05.execute-api.eu-west-1.amazonaws.com/live/feedback/new/';
					var placeholderContent = [
							{
								'Missing' : 'e.g. duration is not specified.',
								'Wrong' : 'e.g. tuition fees are different on the university website.',
								'Other' : 'e.g. there is a typo under "Details" section.'
							},
							{
								'Missing' : 'e.g. research facilities are missing.',
								'Wrong' : 'e.g. university description is outdated.',
								'Other' : 'e.g. there is a typo under "Student Life" section.'
							} ]
				</script>
				<section id="ContentFeedbackTool">
					<button class="LaunchPopupBtn js-OpenCFT icon-paper">Improve
						Page Content</button>
				</section>
			</div>
		</div>
		<div class="colblock no-top-margin">
			<div data-module="StudyNew:study_lead_form_entry_point"
				class="Module StudyPortals_Academic_Modules_StudyNew_StudyLeadFormEntryPoint EmptyModule js-contentSwitchable js-content-description js-content-contents js-content-requirement js-content-fees_and_funding">
			</div>
			<div data-module="StudyNew:related_studies"
				class="Module StudyPortals_Academic_Modules_StudyNew_RelatedStudies js-contentSwitchable js-content-description js-content-contents js-content-fees_and_funding">
				<aside class="RelatedStudies">
					<h3>Related Programmes</h3>
					<figure data-clickable="clickable">
						<span> <img src="https://storage.prtl.co/mp/9a89f14b.jpg"
							alt="University of Nicosia">
						</span>
						<figcaption>
							<a
								href="http://www.phdportal.com/studies/83712/computer-science.html"
								title="Computer Science, PhD">Computer Science, PhD</a>
						</figcaption>
					</figure>
					<figure data-clickable="clickable">
						<p class="OrganisationName">European University Cyprus (EUC)</p>
						<figcaption>
							<a
								href="http://www.phdportal.com/studies/66313/computingcomputer-science.html"
								title="Computing/Computer Science, PhD">Computing/Computer
								Science, PhD</a>
						</figcaption>
					</figure>
					<figure data-clickable="clickable">
						<p class="OrganisationName">Swansea University</p>
						<figcaption>
							<a
								href="http://www.phdportal.com/studies/53961/computer-science.html"
								title="Computer Science, PhD">Computer Science, PhD</a>
						</figcaption>
					</figure>
				</aside>
			</div>
			<div data-module="StudyNew:study_ielts"
				class="Module StudyPortals_Academic_Modules_StudyNew_StudyIELTS js-contentSwitchable js-content-key_facts js-content-requirement Hidden">
				<aside class="StudyIELTS">
					<h3>
						<a href="http://9nl.com/BritishCouncil_IELTS/" title="IELTS"
							target="_blank" rel="nofollow"
							data-ga-tracking="{&quot;category&quot;:&quot;Banners&quot;,&quot;action&quot;:&quot;Text banner click&quot;,&quot;label&quot;:&quot;IELTS&quot;}"
							data-ga-parsed="true"> IELTS </a>
					</h3>
					<span class="IeltsText">
						<p>To study at this university, you have to speak English.
							Assess your level of English by</p> <a
						href="http://9nl.com/BritishCouncil_IELTS/" title="IELTS"
						target="_blank" rel="nofollow"
						data-ga-tracking="{&quot;category&quot;:&quot;Banners&quot;,&quot;action&quot;:&quot;Text banner click&quot;,&quot;label&quot;:&quot;IELTS&quot;}"
						data-ga-parsed="true"> taking an IELTS language test. </a>
					</span> <a href="http://9nl.com/BritishCouncil_IELTS/" title="IELTS"
						class="IELTSButton Button" target="_blank" rel="nofollow"
						data-ga-tracking="{&quot;category&quot;:&quot;Banners&quot;,&quot;action&quot;:&quot;Text banner click&quot;,&quot;label&quot;:&quot;IELTS&quot;}"
						data-ga-parsed="true"> Take an IELTS test </a>
				</aside>
			</div>
			<div data-module="StudyNew:university_location"
				class="Module GoogleMap StudyPortals_Academic_Modules_StudyNew_UniversityLocation EmptyModule js-contentSwitchable js-content-description js-content-key_facts">
			</div>
			<div data-module="StudyNew:target_article"
				class="Module StudyPortals_Academic_Modules_StudyNew_TargetArticle js-contentSwitchable js-content-requirement Hidden">
				<script id="article-template" type="text/x-handlebars-template"> <article id="TargetArticle"> <h3 class="RelatedArticlesTitle">Related Articles</h3> {{#each .}} <a href="http://www.phdportal.com/articles/{{id}}/{{virtual_path}}" title="{{title}}" class="RelatedArticles">{{title}}</a> {{/each}} </article> </script>
				<div id="target-article-placeholder">
					<article id="TargetArticle">
						<h3 class="RelatedArticlesTitle">Related Articles</h3>
						<a
							href="http://www.phdportal.com/articles/1473/toefl-your-to-do-list-for-before-and-after-test-day.html"
							title="TOEFL®: Your To-Do List for Before and After Test Day"
							class="RelatedArticles">TOEFL®: Your To-Do List for Before
							and After Test Day</a> <a
							href="http://www.phdportal.com/articles/1474/register-for-the-toefl-test-online-in-3-easy-steps.html"
							title="Register for the TOEFL® Test Online in 3 Easy Steps"
							class="RelatedArticles">Register for the TOEFL® Test Online
							in 3 Easy Steps</a> <a
							href="http://www.phdportal.com/articles/1475/toefl-5-tips-for-learning-english-quickly.html"
							title="TOEFL®: 5 Tips for Learning English Quickly"
							class="RelatedArticles">TOEFL®: 5 Tips for Learning English
							Quickly</a> <a
							href="http://www.phdportal.com/articles/1476/toefl-travel-smart-while-studying-abroad.html"
							title="TOEFL®: Travel Smart While Studying Abroad"
							class="RelatedArticles">TOEFL®: Travel Smart While Studying
							Abroad</a> <a
							href="http://www.phdportal.com/articles/1523/10-reasons-why-you-should-study-abroad-this-year.html"
							title="10 reasons why you should study abroad this year"
							class="RelatedArticles">10 reasons why you should study
							abroad this year</a> <a
							href="http://www.phdportal.com/articles/1582/how-to-get-a-student-visa-for-germany.html"
							title="How to Get a Student Visa for Germany"
							class="RelatedArticles">How to Get a Student Visa for Germany</a>
						<a
							href="http://www.phdportal.com/articles/1739/georg-august-universitat-gottingen-germany-study-experience-of-narayan.html"
							title="Georg-August-Universität Göttingen, Germany: Study Experience of Narayan"
							class="RelatedArticles">Georg-August-Universität Göttingen,
							Germany: Study Experience of Narayan</a>
					</article>
				</div>
			</div>
			<div data-module="StudyNew:study_disciplines"
				class="Module StudyPortals_Academic_Modules_StudyNew_StudyDisciplines js-contentSwitchable js-content-contents Hidden">
				<aside id="StudyDisciplines">
					<h3 class="DisciplineTitle">Disciplines</h3>
					<ul class="DisciplinesLinks">
						<li><a
							href="http://www.phdportal.com/disciplines/281/computer-sciences.html"
							title="Computer Sciences"> <span>Computer Sciences</span>
						</a></li>
					</ul>
					<a
						href="http://www.phdportal.com/study-options/268615961/computer-sciences-germany.html"
						title="  View 7 other PhDs in Computer Sciences in Germany "
						class="LandingPageEntryPoint"> View 7 other PhDs in Computer
						Sciences in Germany </a>
				</aside>
			</div>
			<div data-module="StudyNew:study_relevant_links"
				class="Module StudyPortals_Academic_Modules_StudyNew_RelevantLinks js-contentSwitchable js-content-key_facts Hidden">
				<aside id="RelevantLinks">
					<h3 class="RelevantLinksTitle">Relevant Links</h3>
					<ul>
						<li class="UsefulLinks ok homepage"><a href=""
							class="js-openRelatedProgrammesPopup" title="Programme Website">
								Programme Website </a></li>
						<li class="UsefulLinks ok homepage"><a
							href="https://awesomo-sl.prtl.co/track/click/?target=http%3A%2F%2Fwww.math-cs.uni-goettingen.de%2Findex_en.html&amp;facts=eyJsIjp7InQiOiJzdHVkeSIsImkiOiI3MDQyMSIsImQiOiJDb21wdXRlciBTY2llbmNlIiwibCI6InJlZ3VsYXIifSwicyI6ImRpLTI0fGt3LUdlcm1hbnl8bHYtcGhkIiwidSI6eyJpIjoiNDEuMTM4LjUzLjgxIiwicyI6IjQ2ZmU2N2MyLWViYzMtNGM1NC05MmE3LWYyMGMxMWEyYjlhYyIsImwiOiJlbi1VUyIsImMiOiJuZSJ9LCJmIjpbeyJhIjoiY2xpYyIsInQiOiJsaW5rIiwiaSI6IjE4NjE1NzEiLCJkIjoiaHR0cDovL3d3dy5tYXRoLWNzLnVuaS1nb2V0dGluZ2VuLmRlL2luZGV4X2VuLmh0bWwiLCJsIjoicmV2ZW51ZSJ9XX0%3D"
							target="mp_external_1861571" title="Faculty Website "
							data-ga-tracking="{&quot;category&quot;:&quot;Study&quot;,&quot;action&quot;:&quot;Basic Click&quot;,&quot;label&quot;:&quot;70421&quot;}"
							class="TrackingExternalLink  " data-action="clic"
							data-type="link" data-id="1861571"
							data-description="http://www.math-cs.uni-goettingen.de/index_en.html"
							data-label="revenue" data-ga-parsed="true"> Faculty Website </a>
						</li>
						<li class="UsefulLinks ok homepage"><a
							href="https://awesomo-sl.prtl.co/track/click/?target=http%3A%2F%2Fwww.uni-goettingen.de%2Fen%2F48483.html&amp;facts=eyJsIjp7InQiOiJzdHVkeSIsImkiOiI3MDQyMSIsImQiOiJDb21wdXRlciBTY2llbmNlIiwibCI6InJlZ3VsYXIifSwicyI6ImRpLTI0fGt3LUdlcm1hbnl8bHYtcGhkIiwidSI6eyJpIjoiNDEuMTM4LjUzLjgxIiwicyI6IjQ2ZmU2N2MyLWViYzMtNGM1NC05MmE3LWYyMGMxMWEyYjlhYyIsImwiOiJlbi1VUyIsImMiOiJuZSJ9LCJmIjpbeyJhIjoiY2xpYyIsInQiOiJsaW5rIiwiaSI6IjE5NjUxODMiLCJkIjoiaHR0cDovL3d3dy51bmktZ29ldHRpbmdlbi5kZS9lbi80ODQ4My5odG1sIiwibCI6InJldmVudWUifV19"
							target="mp_external_1965183" title="University Website"
							data-ga-tracking="{&quot;category&quot;:&quot;Study&quot;,&quot;action&quot;:&quot;Basic Click&quot;,&quot;label&quot;:&quot;70421&quot;}"
							class="TrackingExternalLink  " data-action="clic"
							data-type="link" data-id="1965183"
							data-description="http://www.uni-goettingen.de/en/48483.html"
							data-label="revenue" data-ga-parsed="true"> University
								Website </a></li>
						<li class="UsefulLinks ok other"><a
							href="https://awesomo-sl.prtl.co/track/click/?target=http%3A%2F%2Fwww.uni-goettingen.de%2Fdownloads%2FFlippingBook%2FISB%2FHTML%2Findex.html&amp;facts=eyJsIjp7InQiOiJzdHVkeSIsImkiOiI3MDQyMSIsImQiOiJDb21wdXRlciBTY2llbmNlIiwibCI6InJlZ3VsYXIifSwicyI6ImRpLTI0fGt3LUdlcm1hbnl8bHYtcGhkIiwidSI6eyJpIjoiNDEuMTM4LjUzLjgxIiwicyI6IjQ2ZmU2N2MyLWViYzMtNGM1NC05MmE3LWYyMGMxMWEyYjlhYyIsImwiOiJlbi1VUyIsImMiOiJuZSJ9LCJmIjpbeyJhIjoiY2xpYyIsInQiOiJsaW5rIiwiaSI6IjE4MzgxNTgiLCJkIjoiaHR0cDovL3d3dy51bmktZ29ldHRpbmdlbi5kZS9kb3dubG9hZHMvRmxpcHBpbmdCb29rL0lTQi9IVE1ML2luZGV4Lmh0bWwiLCJsIjoicmV2ZW51ZSJ9XX0%3D"
							target="mp_external_1838158" title="International Students Guide"
							data-ga-tracking="{&quot;category&quot;:&quot;Study&quot;,&quot;action&quot;:&quot;Basic Click&quot;,&quot;label&quot;:&quot;70421&quot;}"
							class="TrackingExternalLink  " data-action="clic"
							data-type="link" data-id="1838158"
							data-description="http://www.uni-goettingen.de/downloads/FlippingBook/ISB/HTML/index.html"
							data-label="revenue" data-ga-parsed="true"> International
								Students Guide </a></li>
						<li class="UsefulLinks ok other"><a
							href="https://awesomo-sl.prtl.co/track/click/?target=http%3A%2F%2Fwww.languagelearningportal.com%2F&amp;facts=eyJsIjp7InQiOiJzdHVkeSIsImkiOiI3MDQyMSIsImQiOiJDb21wdXRlciBTY2llbmNlIiwibCI6InJlZ3VsYXIifSwicyI6ImRpLTI0fGt3LUdlcm1hbnl8bHYtcGhkIiwidSI6eyJpIjoiNDEuMTM4LjUzLjgxIiwicyI6IjQ2ZmU2N2MyLWViYzMtNGM1NC05MmE3LWYyMGMxMWEyYjlhYyIsImwiOiJlbi1VUyIsImMiOiJuZSJ9LCJmIjpbeyJhIjoiY2xpYyIsInQiOiJsaW5rIiwiaSI6IjE4MTY3NjYiLCJkIjoiaHR0cDovL3d3dy5sYW5ndWFnZWxlYXJuaW5ncG9ydGFsLmNvbS8iLCJsIjoiIn1dfQ%3D%3D"
							target="mp_external_1816766" title="Find German Language Courses"
							class="TrackingExternalLink  " data-action="clic"
							data-type="link" data-id="1816766"
							data-description="http://www.languagelearningportal.com/"
							data-label=""> Find German Language Courses </a></li>
						<li class="UsefulLinks ok other"><a
							href="https://awesomo-sl.prtl.co/track/click/?target=http%3A%2F%2Fwww.stexx.eu%2Fstudents%2Fsearch-results%2F%3Flevel%3Dcountry%26id%3D11&amp;facts=eyJsIjp7InQiOiJzdHVkeSIsImkiOiI3MDQyMSIsImQiOiJDb21wdXRlciBTY2llbmNlIiwibCI6InJlZ3VsYXIifSwicyI6ImRpLTI0fGt3LUdlcm1hbnl8bHYtcGhkIiwidSI6eyJpIjoiNDEuMTM4LjUzLjgxIiwicyI6IjQ2ZmU2N2MyLWViYzMtNGM1NC05MmE3LWYyMGMxMWEyYjlhYyIsImwiOiJlbi1VUyIsImMiOiJuZSJ9LCJmIjpbeyJhIjoiY2xpYyIsInQiOiJsaW5rIiwiaSI6IjQ3OTk1IiwiZCI6Imh0dHA6Ly93d3cuc3RleHguZXUvc3R1ZGVudHMvc2VhcmNoLXJlc3VsdHMvP2xldmVsPWNvdW50cnkmaWQ9MTEiLCJsIjoiIn1dfQ%3D%3D"
							target="mp_external_47995"
							title="Study Experiences about Germany - STeXX.eu"
							class="TrackingExternalLink  " data-action="clic"
							data-type="link" data-id="47995"
							data-description="http://www.stexx.eu/students/search-results/?level=country&amp;id=11"
							data-label=""> Study Experiences about Germany - STeXX.eu </a></li>
					</ul>
				</aside>
			</div>
		</div>
	</section>
</body>
</html>