<section id="main-body" class="main-body">
        
        

            <div class="main-body-inner">

              <p>Compulsory fields are marked with an asterisk (*).</p>

                <h2>Declarations</h2>

                <div id="application-left">

        <!-- ############################################################################
             #                                                                          #
             #                                Declarations                               #
             #                                                                          #
             ############################################################################ -->

                    <fieldset id="declaration">
                    
                    <!-- This question is shown for all courses except CPDW BT6 11/07/2014 -->
                    
                    <legend>Supporting Documents</legend>

                        <div class="docUploadContainer">
                            <label>Please upload any additional documents not previously attached to your application</label>
                            <em class="displayedHelp">
                                <p>UPLOAD INSTRUCTIONS</p>
                                    <ol>
                                        
                                        <li>Select <strong>Browse / Choose File</strong> to attach the document from your saved location.</li>
                                        <li>Then select <strong>Upload</strong> to attach the document to your application.</li>
                                        <li>The upload has completed when the file is shown below.</li>
                                        <li>You can remove the document by selecting the <strong>Delete</strong> button.</li>
                                    </ol>

					<p>Do not navigate away from this page while the upload is happening.</p>
					<ul class="bulleted">
						<li>Maximum Upload size per document is 10 MB.</li>
						<li>You can only upload files in the following format: BMP, DOC, DOCX, GIF, JPEG, JPG, PDF, RTF, TIF, TIFF, TXT, XLS, XLSX.</li>
						<li>You can upload a maximum of 5 document(s).</li>
					</ul>
                            </em>
                        
                             

   <!-- <fieldset id="ADAPF01_01_DOCU">-->
          <div>
	  	<!--<legend>Upload relevant documents to your application.</legend>-->
		<!---->
                     


        <!--</div>-->

      <!-- <div id="ADAPF01DEC01_BUT">-->




		<input type="file" id="FILEUPLOAD-1" size="50" data-parsley-id="2040"><ul class="parsley-errors-list" id="parsley-id-2040"></ul>

		<input type="button" class="docUploadBtn" value="Upload" onclick="sitsDocUpload(1, 'ADAPF01DEC01');">	


      </div>
<div class="faux-parsley-errors-list hide"><p><strong>The upload failed</strong>. <span>Message</span></p></div>

  <!--</fieldset>-->   
                            <!-- IPQ: ADAPF01DEC01, DTY: ADDITIONAL_1 -->
							</div>
                    

                    

                    <legend>Further Questions</legend>

                        <div>
                            <label for="IPQ_ADAPF01DHU01">Where did you hear about us?</label>
                            <select id="IPQ_ADAPF01DHU01" class="" name="IPQ_ADAPF01DHU01" data-parsley-id="4182">
                                <option value="" selected="selected">Please select</option>
<option value="001">Advert - Anglia Ruskin University</option>
<option value="002">Advert - Google</option>
<option value="003">Advert - Other website</option>
<option value="004">Advert - Publication/ press</option>
<option value="005">Advert - UCAS</option>
<option value="006">Agent</option>
<option value="008">ARU alumnus (previous student)</option>
<option value="009">Careers - College Careers Service</option>
<option value="010">Careers - NHS Careers</option>
<option value="011">Careers - Schools Careers Service</option>
<option value="012">Higher Education Fair - Europe</option>
<option value="013">Higher Education Fair - International</option>
<option value="014">Online - ARU website</option>
<option value="015">Online - Baidoo search</option>
<option value="016">Online - Bing/ yahoo search</option>
<option value="017">Online - Facebook</option>
<option value="018">Online - Google search</option>
<option value="019">Online - Google+ (Google Plus)</option>
<option value="020">Online - Instagram</option>
<option value="021">Online - LinkedIn</option>
<option value="022">Online - Other</option>
<option value="023">Online - Pinterest</option>
<option value="024">Online - Twitter</option>
<option value="025">Online - YouTube</option>
<option value="026">Online banner advertisement</option>
<option value="027">Open Day</option>
<option value="028">Other</option>
<option value="007">Printed article (newspaper/ magazine)</option>
<option value="029">Professional body</option>
<option value="034">TriServices</option>
<option value="030">UCAS Fair UK</option>
<option value="031">UCAS website</option>
<option value="032">Word of Mouth</option>
<option value="033">Work/ employer</option>
                            </select><ul class="parsley-errors-list" id="parsley-id-4182"></ul>
                        </div>

                    <!--29/05/14 MS9128 The question below is only shown for international students, as defined by country of residence question. It also uses a Hidden Mapping on Tab 1 to default the dropdown list to Yes-->
                    
                        <div style="display:none;">
                            
                            <input type="hidden" name="IPQ_ADAPF01CRI01" value="N">
                            <label for="IPQ_ADAPF01CRI01"><input type="checkbox" id="IPQ_ADAPF01CRI01" name="IPQ_ADAPF01CRI01" value="Y" checked="" data-parsley-multiple="IPQ_ADAPF01CRI01" data-parsley-id="6723">
                            If your application is unsuitable for a course of study at Anglia Ruskin University, it will be referred to Cambridge Ruskin International College (CRIC). Please untick this box if you do not agree to this.</label><ul class="parsley-errors-list" id="parsley-id-multiple-IPQ_ADAPF01CRI01"></ul>
								<em class="displayedHelp">Further information can be found on the <a href="http://www.cric.navitas.com/" target="_blank">CRIC website</a>.</em>
                        </div>


                      <legend>Declarations and Disclaimer</legend>

                        <div>
                            <p>I agree to the University processing personal data contained in this form or other data which the University may obtain from other people. I agree to the processing of such data for any purposes connected with my studies or my health and safety whilst on the premises or for any legitimate reason including communication with me following the completion of my studies. If my employer/sponsor is supporting my studies by paying my fees/allowing me study time I agree to my employer being informed of the progress of my application and of my studies if I am accepted onto the course. In addition, I agree to the University processing personal data described as Sensitive Data within the meaning of the Data Protection Act 1988, such processing to be undertaken for any purposes as indicated in the declaration above.</p>


                        </div>

                       

                        <div>
                            
                            <input type="hidden" name="IPQ_ADAPF01UAS01" value="N">
                            <label for="IPQ_ADAPF01UAS01"><input type="checkbox" id="IPQ_ADAPF01UAS01" name="IPQ_ADAPF01UAS01" value="Y" required="" data-parsley-required="true" data-parsley-trigger="change" data-parsley-multiple="IPQ_ADAPF01UAS01" data-parsley-id="1311">
                            I understand and accept this statement. *</label><ul class="parsley-errors-list" id="parsley-id-multiple-IPQ_ADAPF01UAS01"></ul>
                        </div>


                        <div>
                            
                            <input type="hidden" name="IPQ_ADAPF01IPC01" value="N">
                            <label for="IPQ_ADAPF01IPC01"><input type="checkbox" id="IPQ_ADAPF01IPC01" name="IPQ_ADAPF01IPC01" value="Y" required="" data-parsley-required="true" data-parsley-trigger="change" data-parsley-multiple="IPQ_ADAPF01IPC01" data-parsley-id="1557">
                            I certify that, to the best of my belief, the information I've provided is complete and true. *</label><ul class="parsley-errors-list" id="parsley-id-multiple-IPQ_ADAPF01IPC01"></ul>
                        </div>

                    </fieldset>



                    <div id="npNav">
                            
                        <fieldset>
                            <legend class="positionHide">Next and previous page navigation</legend>
                                <p>The details you enter will automatically be saved as you move through each page of the application. Please save your application before you log off or if you are going to take a break from completing the form.</p>
<div class="f-a-m-outer hide">

                <div class="form-alert-message"><h3>Missing Information</h3>
						<div class="f-a-m-inner"></div>
</div>
            </div>
                            <input type="button" value="Previous page  Referees" name="prevbutton" id="prevTabButton">
                            
                            <input type="button" id="submitbutton" name="submitbutton" title="Submit my application" value="Submit">
                            

                        </fieldset>
                    </div>

                </div> 


                <div id="application-right">

                        <a href="" class="ht-nav"><i class="fa fa-arrow-left"></i> Back</a>

                    <div id="mainHelpText" style="width: auto;" class="">
                        <i href="#" class="hiddenHelpIcon fa fa-question-circle"></i>
<a href="#" id="hiddenHelpMinMax"><i class="fa fa-times"></i></a>
                        <div><p>If you need help to complete a question click the help icon.</p></div>
                    </div> <!-- Used to display the hidden help text BT6 11/07/2014 -->

                </div>

            </div>
        </section>