<div id="footer-container">
	<div id="footer-content">
		<div class="container-220">
			<h4>IT Help and Support</h4>
            <p><strong>Students</strong> <br>
            For help and support please contact your University Library Help Desk<br>
            <br>
						<a href="http://libanswers.anglia.ac.uk">libanswers.anglia.ac.uk</a>
						<br>
						<br>
							Call: 01245 686600<br>
							International: +44 1245 686600 (24 hours)<br>
            </p>
            <p><strong>Staff</strong> <br>
            For help and support please contact <span class="nowrap"><acronym title="IT Services">IT Services</acronym> Customer Support</span>.<br>

              Call: 0845 196 4357<br>
              Email: <a href=" " title="Email IT Services Customer Support - opens in your default email application"> </a><br>
            </p>

		</div>
		<div class="container-220">
			<p>&nbsp;			
			    

			</p>
		</div>
		<div class="container-220">
			<p>&nbsp;	
			    						
			</p>
		</div>
		<div id="addresses-and-contacts" class="container-220">					
			<h4>Addresses and Contacts</h4>
			<p>

				<strong>Cambridge Campus</strong><br>East Road, Cambridge, CB1 1PT
			</p>
			<p>
				<strong>Chelmsford Campus</strong><br>Bishop Hall Lane, Chelmsford, CM1 1SQ
			</p>
			<p>
				Call: 0845 271 3333<br>
				International: +44 1245 493131<br>

				Email: <a href=" " title="Email   - opens in your default email application"> </a>				
			</p>
		</div>
	</div>
</div>
<div id="footer-legal-statements-container">
	<div id="footer-legal-statements-content">
			<div id="copyright-information">
				Design and content <abbr title="©: copyright">©</abbr> 2011 Anglia Ruskin University. All rights reserved
			</div>

			<div id="legal-information">
				<a href=" " title="Privacy Policy">Privacy Policy</a>
				|
				<a href=" " title="Disclaimer and acceptable use policy">Disclaimer</a>
			</div>
	</div>
</div>
<script src="@routes.Assets.versioned("js/jquery-3.0.0-rc1.min.js")"></script>
<script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
<script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
<script src="@routes.Assets.versioned("js/masterpage.js")"></script>
<script src="@routes.Assets.versioned("js/adminMenu.js")"></script>
<script src="@routes.Assets.versioned("js/institutionInitialisation.js")"></script>
<script src="@routes.Assets.versioned("js/jquery.steps.js")"></script>
<script src="@routes.Assets.versioned("js/bootsnav.js")"></script>
<!-- <script src="@routes.Assets.versioned("js/nav.js")"></script> -->