@(titre : String)
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content-type="application/pdf">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@titre</title>
        <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/blue.css")" rel="stylesheet">
    	<link href="@routes.Assets.versioned("css/font-awesome.css")" rel="stylesheet">
    	<link href="@routes.Assets.versioned("css/masterpage.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/style.css")" rel="stylesheet">
    	<link href="@routes.Assets.versioned("css/ruskin.css")" rel="stylesheet">
	    <link href="@routes.Assets.versioned("css/page.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/lightfooter.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/sidebar.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/select2.css")" rel="stylesheet">
        

</head>