
<div id="mainmenupane">
	<div id="menu">
		<a class="skiplink" id="localmenu">Menu</a>
		<!--htdig_noindex-->
		<ul>
			<li><a href="/anet/login.phtml">Login</a></li>
			<li><a href="/anet/about.phtml">About My.Anglia</a></li>
			<li><a href="/anet/novell.phtml">Who can login?</a></li>
		</ul>

		<a class="skiplink" href="#localmenu">Go back to top of this menu</a>
		<a class="skiplink" href="#startcontent">Go to content</a>
	</div>
	<div id="anetnav">
		<h2>My.Anglia</h2>
		<form action="" method="post">
			<fieldset>
				<ol>
					<li class="login-field"><label for="usernamel"><span
							class="login-field-label">User ID</span></label> <input id="usernamel"
						type="text" onfocus="this.value=''" value="e.g. abc1"
						name="username"></li>
					<li class="login-field"><label for="passwdl"><span
							class="login-field-label">Password</span></label> <input id="passwdl"
						type="password" name="passwd"></li>
					<li><input class="anetsubbut" type="submit" value="Login"
						name="login"></li>
				</ol>
				<input type="hidden" value="" name="submit"> <input
					type="hidden" value="ldap" name="page">
				<!--<input type="hidden" name="refer" value="http://web.anglia.ac.uk/anet/" />-->
				<input type="hidden" value="/anet/staff/" name="refer">
			</fieldset>
		</form>
	</div>
	<!--<div id="anetnav">-->
</div>