<section id="main-body" class="main-body">
        
<div class="main-body-inner">
                <p>Compulsory fields are marked with an asterisk (*).</p>
                    <h2>Personal Statement</h2>
                            
                <div id="application-left">

                <!-- ############################################################################
                     #                                                                          #
                     #                           PERSONAL STATEMEMT                             #
                     #                                                                          #
                     ############################################################################ -->


                    <fieldset summary="Personal Statment" id="personal_statement">

                        <p>All of our courses require you to provide a personal statement, please include any further information that may be relevant for assessing your suitability for the course. You may wish to include:</p>
                                <ul class="bulleted">
                                    <li>How your experience and/ or academic background relate to this course</li>
                                    <li>Your motivation for studying this course</li>
                                    <li>Why you wish to study with Anglia Ruskin University</li>
                                    <li>How the course relates to your career aspirations</li>
                                    <li>Plans you may have immediately after completing the course</li>
                                </ul>
						<p><strong>International applicants</strong></p>
                                <ul class="bulleted">
                                    <li>Please also let us know why you wish to study in the UK</li>
                                </ul>
                    <p>You may upload a personal statement as an attachment at the end of this page or email a copy to admissions at a later date. If you intend to do this please write this in the box below to allow your application to be submitted.</p>

                    <!-- ########################## Personal Statement ############################# -->

                        
                            <label for="IPQ_ADAPF01STM01">Personal Statement (maximum 2000 words)*</label>
                                <textarea id="IPQ_ADAPF01STM01" name="IPQ_ADAPF01STM01" cols="100" rows="25" data-parsley-maxword="2000" required="" data-parsley-required="true" data-parsley-trigger="focusout" data-parsley-id="6009"></textarea><ul class="parsley-errors-list" id="parsley-id-6009"></ul>
                                <!--<em class="displayedHelp"><span id="charCount">10000</span> characters left.</em>-->
                       

                    <!-- ########################## Personal statement upload ############################# -->


                        <h3>Supporting Documents</h3>
                        <div class="docUploadContainer">
                            <p>If you'd prefer  to upload your personal statement please upload it here.<a href="#" class="hiddenHelpIcon fa fa-question-circle"><span class="positionHide">Field help.</span></a></p>
                            <em class="hiddenHelpText hide"><p>UPLOAD INSTRUCTIONS</p>  
                                   
                                        <ol>
                                            <li>Select <strong>Browse / Choose File</strong> to attach the document from your saved location.</li>
                                            <li>Then select <strong>Upload</strong> to attach the document to your application.</li>
                                            <li>The upload has completed when the file is shown below.</li>
                                            <li>You can remove the document by selecting the <strong>Delete</strong> button.</li>
                                        </ol>

					<p>Do not navigate away from this page while the upload is happening.</p>
					<ul class="bulleted">
						<li>Maximum Upload size per document is 10 MB.</li>
						<li>You can only upload files in the following format: BMP, DOC, DOCX, GIF, JPEG, JPG, PDF, RTF, TIF, TIFF, TXT, XLS, XLSX.</li>
						<li>You can upload a maximum of 1 document(s). If you wish to include any additional documents these can be added when you reach the declarations page.</li>
					</ul>
								</em>                                    
                                
                        

                             

   <!-- <fieldset id="ADAPF01_01_DOCU">-->
          <div>
	  	<!--<legend>Upload relevant documents to your application.</legend>-->
		<!---->
                     


        <!--</div>-->

      <!-- <div id="ADAPF01PDU01_BUT">-->




		<input type="file" id="FILEUPLOAD-1" size="50" data-parsley-id="3195"><ul class="parsley-errors-list" id="parsley-id-3195"></ul>

		<input type="button" class="docUploadBtn" value="Upload" onclick="sitsDocUpload(1, 'ADAPF01PDU01');">	


      </div>
<div class="faux-parsley-errors-list hide"><p><strong>The upload failed</strong>. <span>Message</span></p></div>

  <!--</fieldset>-->    
                            <!--Document uploader, IPQ: ADAPF01PDU01, DTY: P_STATEMENT BT6 22/05/2014-->
</div>

                    <!-- ########################## Providing your portfolio ############################# -->

                    <!--This section only appears if the Portfolio/Evidence field on MCR is ticked-->
                    
                    </fieldset>




                    <div id="npNav">
                            <fieldset>
                            <legend class="positionHide">Next and previous page navigation</legend>
                            <p>The details you enter will automatically be saved as you move through each page of the application. Please save your application before you log off or if you are going to take a break from completing the form.</p>
<div class="f-a-m-outer hide">
                <span class="form-alert-message"></span>
            </div>
                            <input type="button" value="Previous page  Experience" name="prevbutton" id="prevTabButton"> 
                            <input type="button" value="Next page Additional Details" name="nextbutton" id="nextTabButton">
                            
                        
                
                        </fieldset>
                    </div>
                </div>


                <div id="application-right">

                        <a href="" class="ht-nav"><i class="fa fa-arrow-left"></i> Back</a>

                    <div id="mainHelpText" class="" style="width: auto;">
                        <i href="#" class="hiddenHelpIcon fa fa-question-circle"></i>
<a href="#" id="hiddenHelpMinMax"><i class="fa fa-times"></i></a>
                        <div><p>If you need help to complete a question click the help icon.</p></div>
                    </div> <!-- Used to display the hidden help text BT6 11/07/2014 -->

                </div>

            </div>
        
        </section>