<section id="main-body" class="main-body">


<div class="main-body-inner">

            <p>Compulsory fields are marked with an asterisk (*).</p>

			<h2>Referee</h2>

				<div id="application-left">

		<!-- ############################################################################
			 #                                                                          #
			 #                                  Referee 1                               #
			 #                                                                          #
			 ############################################################################ -->

					<fieldset>
						
							<em class="displayedHelp">
								<ul>
									<li>Please give the name and email address of your academic referee, who is familiar with, and can comment on, your academic abilities.</li>
									<li>The University will contact your referee directly by email as soon as you submit this form.</li>
									<li>Please note the University will only accept academic recommendations received from an official institutional email account (references received from Yahoo, Gmail, Hotmail and other such accounts will not be acceptable) and all recommendations must be submitted in English.</li>
									<li>Your referee will be asked to submit a reference directly to the University via our secure website. Please ensure that you've informed your referee that you're applying for further studies and that they have agreed to provide a recommendation for you. Please note that your application will be delayed if references are not received in good time and it is your responsibility to ensure that these are submitted.</li>
									<li>If you cannot provide an academic reference, a professional one will suffice.</li>
								</ul>
							</em>
					<div>
					<label for="title">Title *</label> <select id="title"
						name="title" required="" data-parsley-required="true"
						data-parsley-trigger="change" data-parsley-id="1086">
						<option value="">Please select</option>
						<option value="MISS">Miss</option>
						<option value="MR" selected="selected">Mr</option>
						<option value="MRS">Mrs</option>
						<option value="MS">Ms</option>
						<option value="MX">Mx</option>
						<option value="CANON">Canon</option>
						<option value="DR">Dr</option>
						<option value="LADY">Lady</option>
						<option value="LORD">Lord</option>
						<option value="PASTOR">Pastor</option>
						<option value="PRINCE">Prince</option>
						<option value="PROFESSOR">Professor</option>
						<option value="REVEREND">Reverend</option>
						<option value="SISTER">Sister</option>
						<!--Dropdown menu populated from TTL table BT6 27/05/2014-->
					</select>
					<ul class="parsley-errors-list" id="parsley-id-1086"></ul>
				</div>

						<div>
							<label for="fullName">Name *</label>
							<input type="text" id="fullName" name="fullName" value="" maxlength="50" data-parsley-maxlength="50" required="" data-parsley-required="true" data-parsley-trigger="focusout">
						</div>

						<div>
							<label for="jobTitle">Position</label>
							<input type="text" id="jobTitle" name="jobTitle" value="" maxlength="50" data-parsley-maxlength="50" data-parsley-trigger="focusout">
						</div>

						<div>
							<label for="relationship">Relationship to applicant e.g. manager, teacher *</label>
							<input type="text" id="relationship" name="relationship" value="" maxlength="100" data-parsley-maxlength="100" required="" data-parsley-required="true" data-parsley-trigger="focusout">
						</div>

						<div>
							<label for="organisation">Address Line 1 / Organisation *</label>
							<input type="text" id="organisation" name="organisation" value="" maxlength="50" data-parsley-maxlength="50" required="" data-parsley-required="true" data-parsley-trigger="focusout">
						</div>

						<div>
							<label for="address">Address Line </label>
							<input type="text" id="address" name="address" value="" maxlength="50" data-parsley-maxlength="50" data-parsley-trigger="focusout">
						</div>

						<div>
							<label for="postCode">Post/Zipcode</label>
							<input type="text" id="postCode" name="postCode" value="" maxlength="12" data-parsley-maxlength="12" data-parsley-trigger="focusout">
						</div>

						<div>
							<label for="country">Country</label>
							<select id="country" name="country">
							  <option value="" selected="selected">Please select</option>
<option value="5826">England</option>
<option value="8826">Northern Ireland</option>
<option value="7826">Scotland</option>
<option value="6826">Wales</option>
<option value="602">Afghanistan</option>
<option value="853">Aland Islands</option>
<option value="603">Albania</option>
<option value="604">Algeria</option>
<option value="854">American Samoa</option>
<option value="605">Andorra</option>
<option value="606">Angola</option>
<option value="824">Anguilla</option>
<option value="607">Antigua and Barbuda</option>
<option value="608">Argentina</option>
<option value="836">Armenia</option>
<option value="855">Aruba</option>
<option value="609">Australia</option>
<option value="610">Austria</option>
<option value="837">Azerbaijan</option>
<option value="611">Bahamas</option>
<option value="612">Bahrain</option>
<option value="787">Bangladesh</option>
<option value="613">Barbados</option>
<option value="838">Belarus</option>
<option value="614">Belgium</option>
<option value="668">Belize</option>
<option value="640">Benin</option>
<option value="615">Bermuda</option>
<option value="616">Bhutan</option>
<option value="617">Bolivia</option>
<option value="887">Bonaire, Sint Eustatius and Saba</option>
<option value="848">Bosnia and Herzegovina</option>
<option value="618">Botswana</option>
<option value="619">Brazil</option>
<option value="801">British Antarctic Territory</option>
<option value="829">British Indian Ocean Territory</option>
<option value="776">British Virgin Islands</option>
<option value="620">Brunei</option>
<option value="621">Bulgaria</option>
<option value="769">Burkina Faso</option>
<option value="623">Burundi</option>
<option value="624">Cambodia</option>
<option value="625">Cameroon</option>
<option value="626">Canada</option>
<option value="856">Canary Islands</option>
<option value="788">Cape Verde</option>
<option value="789">Cayman Islands</option>
<option value="627">Central African Republic</option>
<option value="629">Chad</option>
<option value="630">Chile</option>
<option value="631">China</option>
<option value="857">Christmas Island</option>
<option value="858">Cocos (Keeling) Islands</option>
<option value="632">Colombia</option>
<option value="804">Comoros</option>
<option value="633">Congo (Democratic Republic)</option>
<option value="634">Congo (Peoples Republic)</option>
<option value="859">Cook Islands</option>
<option value="635">Costa Rica</option>
<option value="834">Croatia</option>
<option value="636">Cuba</option>
<option value="885">Curacao</option>
<option value="882">Cyprus (European Union)</option>
<option value="883">Cyprus (Non-European Union)</option>
<option value="638">Cyprus (not otherwise specified)</option>
<option value="849">Czech Republic</option>
<option value="641">Denmark</option>
<option value="749">Djibouti</option>
<option value="642">Dominica</option>
<option value="643">Dominican Republic</option>
<option value="786">East Timor (Timor-Leste)</option>
<option value="645">Ecuador</option>
<option value="768">Egypt</option>
<option value="646">El Salvador</option>
<option value="790">Equatorial Guinea</option>
<option value="851">Eritrea</option>
<option value="831">Estonia</option>
<option value="648">Ethiopia</option>
<option value="649">Falkland Islands</option>
<option value="865">Faroe Islands</option>
<option value="650">Fiji</option>
<option value="651">Finland</option>
<option value="653">France</option>
<option value="791">French Guiana</option>
<option value="822">French Polynesia</option>
<option value="792">French West Indies</option>
<option value="654">Gabon</option>
<option value="655">Gambia</option>
<option value="847">Georgia</option>
<option value="656">Germany</option>
<option value="658">Ghana</option>
<option value="659">Gibraltar</option>
<option value="661">Greece</option>
<option value="828">Greenland</option>
<option value="662">Grenada</option>
<option value="867">Guadeloupe</option>
<option value="796">Guam (US Trust Territories)</option>
<option value="663">Guatemala</option>
<option value="593">Guernsey</option>
<option value="664">Guinea</option>
<option value="802">Guinea Bissau</option>
<option value="665">Guyana</option>
<option value="666">Haiti</option>
<option value="667">Honduras</option>
<option value="669">Hong Kong</option>
<option value="670">Hungary</option>
<option value="671">Iceland</option>
<option value="672">India</option>
<option value="673">Indonesia</option>
<option value="674">Iran</option>
<option value="675">Iraq</option>
<option value="676">Ireland</option>
<option value="595">Isle of Man</option>
<option value="677">Israel</option>
<option value="678">Italy</option>
<option value="679">Ivory Coast</option>
<option value="680">Jamaica</option>
<option value="681">Japan</option>
<option value="594">Jersey</option>
<option value="682">Jordan</option>
<option value="839">Kazakhstan</option>
<option value="683">Kenya</option>
<option value="660">Kiribati</option>
<option value="684">Korea (South)</option>
<option value="685">Korea DYR (North)</option>
<option value="881">Kosovo</option>
<option value="686">Kuwait</option>
<option value="840">Kyrgyzstan</option>
<option value="687">Lao PDR</option>
<option value="832">Latvia</option>
<option value="688">Lebanon</option>
<option value="690">Lesotho</option>
<option value="691">Liberia</option>
<option value="692">Libyan AR</option>
<option value="827">Liechtenstein</option>
<option value="833">Lithuania</option>
<option value="693">Luxembourg</option>
<option value="694">Macao</option>
<option value="852">Macedonia</option>
<option value="695">Madagascar</option>
<option value="696">Malawi</option>
<option value="698">Malaysia</option>
<option value="793">Maldive Islands</option>
<option value="699">Mali</option>
<option value="700">Malta</option>
<option value="861">Marshall Islands</option>
<option value="869">Martinique</option>
<option value="701">Mauritania</option>
<option value="702">Mauritius</option>
<option value="821">Mayotte</option>
<option value="703">Mexico</option>
<option value="862">Micronesia</option>
<option value="841">Moldova</option>
<option value="825">Monaco</option>
<option value="704">Mongolia</option>
<option value="864">Montenegro</option>
<option value="705">Montserrat</option>
<option value="706">Morocco</option>
<option value="707">Mozambique</option>
<option value="622">Myanmar</option>
<option value="798">Namibia</option>
<option value="805">Nauru</option>
<option value="709">Nepal</option>
<option value="710">Netherlands</option>
<option value="711">New Caledonia</option>
<option value="712">New Guinea</option>
<option value="714">New Zealand</option>
<option value="715">Nicaragua</option>
<option value="716">Niger</option>
<option value="717">Nigeria</option>
<option value="871">Niue</option>
<option value="872">Norfolk Island</option>
<option value="873">Northern Mariana Islands</option>
<option value="718">Norway</option>
<option value="708">Oman</option>
<option value="721">Pakistan</option>
<option value="874">Palau</option>
<option value="870">Palestine</option>
<option value="722">Panama</option>
<option value="723">Papua New Guinea</option>
<option value="724">Paraguay</option>
<option value="725">Peru</option>
<option value="726">Philippines</option>
<option value="823">Pitcairn Islands</option>
<option value="727">Poland</option>
<option value="728">Portugal</option>
<option value="730">Puerto Rico</option>
<option value="731">Qatar</option>
<option value="795">Reunion</option>
<option value="733">Romania</option>
<option value="842">Russia</option>
<option value="734">Rwanda</option>
<option value="741">Samoa</option>
<option value="826">San Marino</option>
<option value="803">Sao Tome and Principe</option>
<option value="743">Saudi Arabia</option>
<option value="785">Senegal</option>
<option value="780">Serbia</option>
<option value="744">Seychelles</option>
<option value="745">Sierra Leone</option>
<option value="746">Singapore</option>
<option value="886">Sint Maarten (Dutch Part)</option>
<option value="850">Slovakia</option>
<option value="835">Slovenia</option>
<option value="747">Solomon Islands</option>
<option value="748">Somalia</option>
<option value="750">South Africa</option>
<option value="830">South Georgia and South Sandwich Islands</option>
<option value="884">South Sudan</option>
<option value="751">Spain</option>
<option value="628">Sri Lanka</option>
<option value="735">St Helena, Ascension and Tristan da Cunha</option>
<option value="736">St Kitts and Nevis</option>
<option value="737">St Lucia</option>
<option value="875">St Pierre and Miquelon</option>
<option value="738">St Vincent</option>
<option value="783">Stateless</option>
<option value="752">Sudan</option>
<option value="753">Surinam</option>
<option value="876">Svalbard And Jan Mayen</option>
<option value="754">Swaziland</option>
<option value="755">Sweden</option>
<option value="756">Switzerland</option>
<option value="757">Syria</option>
<option value="652">Taiwan</option>
<option value="843">Tajikistan</option>
<option value="759">Tanzania</option>
<option value="760">Thailand</option>
<option value="762">Togo</option>
<option value="877">Tokelau</option>
<option value="784">Tonga</option>
<option value="763">Trinidad and Tobago</option>
<option value="765">Tunisia</option>
<option value="766">Turkey</option>
<option value="844">Turkmenistan</option>
<option value="799">Turks and Caicos Islands</option>
<option value="647">Tuvalu</option>
<option value="767">Uganda</option>
<option value="845">Ukraine</option>
<option value="764">United Arab Emirates</option>
<option value="771">United States of America</option>
<option value="770">Uruguay</option>
<option value="772">USSR (not otherwise specified)</option>
<option value="846">Uzbekistan</option>
<option value="713">Vanuatu</option>
<option value="878">Vatican City</option>
<option value="773">Venezuela</option>
<option value="774">Vietnam</option>
<option value="800">Virgin Islands (US)</option>
<option value="879">Wallis and Futuna</option>
<option value="880">Western Sahara</option>
<option value="601">Yemen</option>
<option value="781">Zambia</option>
<option value="732">Zimbabwe</option>
							</select>
						</div>

						<div>
							<label for="telephone">Telephone</label>
							<input type="text" id="telephone" name="telephone" value="" maxlength="35" data-parsley-maxlength="35" data-parsley-trigger="focusout">
						</div>

						<div>
							<label for="email">Official Email *</label>
							<input type="text" id="email" name="email" value="" maxlength="255" data-parsley-maxlength="255" required="" data-parsley-required="true" data-parsley-type="email" data-parsley-trigger="focusout">
							<em class="displayedHelp">We can only accept references from a verifiable email address. References submitted from a personal email address (e.g. Hotmail, Yahoo, gmail, etc.) will not be considered.</em>
						</div>

					</fieldset>


				<!-- ############################################################################
					 #                                                                          #
					 #                                  Referee 2                               #
					 #                                                                          #
					 ############################################################################ -->


					

					<div id="npNav">
               
						<fieldset>
							<legend class="positionHide">Next and previous page navigation</legend>
							<p>The details you enter will automatically be saved as you move through each page of the application. Please save your application before you log off or if you are going to take a break from completing the form.</p>
<div class="f-a-m-outer hide">
                <span class="form-alert-message"></span>
            </div>
							<input type="button" value="Previous page " name="prevbutton" id="prevTabButton">
							<input type="button" value="Next page" name="nextbutton" id="nextTabButton">

							

						</fieldset>

					</div>

				</div> <!-- end application-left -->


				<div id="application-right">

						<a href="" class="ht-nav"><i class="fa fa-arrow-left"></i> Back</a>

					<div id="mainHelpText">
                        <i href="#" class="hiddenHelpIcon fa fa-question-circle"></i>
<a href="#" id="hiddenHelpMinMax"><i class="fa fa-times"></i></a>
                        <div><p>If you need help to complete a question click the help icon.</p></div>
                    </div> <!-- Used to display the hidden help text BT6 11/07/2014 -->

				</div> <!-- application-right -->

			</div>
</section>