<footer>	
			<div class="pre-footer">
				<div class="pre-footer-inner">
					<h2>Get in touch</h2>
					<ul class="footer-soc-med">
						<li class="follow-us">Follow us on</li>
						<li class="fsm fsm-facebook"><a href=""><i class="fa fa-facebook-square"></i><span class="access">Facebook</span></a></li>
						<li class="fsm fsm-twitter"><a href=""><i class="fa fa-twitter"></i><span class="access">Twitter</span></a></li>
						<li class="fsm fsm-youtube"><a href=""><i class="fa fa-youtube-play"></i><span class="access">YouTube</span></a></li>
						<li id="studentContactDets">For Student IT support call +227 (0)0000000 <a href="" target="_blank">xxxxxxxxxxxxxxxxxxxx</a></li>
						<li id="staffContactDets">Staff should call xxxxxxxxxxxx (Int. +22 (0)000000000) or email <a href="">xxxxxxxxxxxxxxxx</a></li>
					</ul>
				</div>
			</div>
			<div id="footer">
			    <ul>
			        <li><a href="" target="blank">Accessibility</a></li>
		    	    <li><a href="" target="blank">Privacy &amp; Cookies</a></li>
					<li><a href="" target="blank">Disclaimer</a></li>
					<li><a href="" target="blank">Freedom of Information</a></li>
					<li><a href="" target="blank">Charities Act</a></li>
			        <li class="aru_copyright">© xxxxxxxxx University</li>
			    </ul>
			</div>
    </footer>