<header class="sv-header-main sv-hidden-print header-main--aru">

     <nav class="sv-navbar-default">
        <div class="sv-navbar-header sv-col-sm-2">
          <div class="sv-navbar-brand sv-header-image"></div>
        </div>
        <div class="sv-navbar-collapse sv-collapse sv-navbar-responsive-collapse"></div>
      </nav>
<!--	2016-04-19	df11	Commented out header now using tribal header	-->
			<!--<div class="page-header">
				<div class="logo"><span class="access">Anglia Ruskin University</span></div>
			</div>-->

    </header>