<!DOCTYPE html>
<html>
@head("")

<div id="mySidenav" class="sidenav">
	<div
		class="mm-navbar mm-navbar-top mm-navbar-top-2 mm-navbar-size-1 mm-navbar-content-4">
		<a class="icon btnReload" title="[Reload Application Workflow]"
			href="/europe/StartServlet4?match=40d7bcaceb794ffa0e3fe06685c4fa9b9bab9d7fe3fda1f5f93b2f0856634189454778f38e8cc0cdcea5bc7e0a3840fb"></a><a
			href="#helpSubMenu" class="icon btnHelp" title="Search online help"></a><a
			class="icon btnLogout" title="Logout"
			href="/europe/LogoutServlet?benLogin=habiboss76&amp;closeMode=clean&amp;isEmbedded=0&amp;loginType=1&amp;identifier=MARBURG01"></a><a
			href="#languageSubMenu" class="icon btnLanguage"></a>
	</div>
	<div class="mm-navbar mm-navbar-top mm-navbar-top-4 mm-navbar-size-1">
		<div class="mm-search">
			<input placeholder="Search" type="text" autocomplete="off"
				title="Search"><a class="mm-btn mm-clear mm-hidden" href="#"></a>
		</div>
	</div>
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()">open</span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">...</div>
<div id="offCanvasMenu"
	class="mm-menu mm-widescreen mm-effect-menu-slide mm-multiline mm-fixedElements mm-offcanvas mm-hasnavbar-top-4 mm-hasnavbar-bottom-1 mm-parentselected">
</div>

<div id="ocTopBar" class="mm-slideout">
	<a id="hamburger" href="#offCanvasMenu"> <span class="top-bar"></span><span
		class="middle-bar"></span><span class="bottom-bar"></span></a> <span
		id="ocApplicationLabel">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
</div>
<section id="main-content" style="min-height: 246px;">
	<div class="inner-content">
		<div class="panel theme-panel">
			<div class="panel-heading">
				<span class="panel-title"> SideBar Menu Feature <i
					class="fa fa-bullhorn"></i>
				</span>
			</div>
			<div class="panel-body">
				<div class="row clearfix">
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-code"></i></span>
							<h4>Personal Details</h4>
							<span>One code used for all device</span>
						</div>
					</div>
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-mobile"></i></span>
							<h4>Fully Responsive</h4>
							<span>Desktops, Tablets and Mobile</span>
						</div>
					</div>
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-th-list"></i></span>
							<h4>Minimized Menu</h4>
							<span>Minimized Menu on Toggle</span>
						</div>
					</div>
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-list-alt"></i></span>
							<h4>Responsive SubMenu</h4>
							<span>4 level SubMenu added</span>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-file-code-o"></i></span>
							<h4>Light weight</h4>
							<span>Using Minified CSS File </span>
						</div>
					</div>
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-css3"></i></span>
							<h4>Jquery/CSS3 animations</h4>
							<span>Using Jquery,CSS3,Animation</span>
						</div>
					</div>
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-flag"></i></span>
							<h4>Vector icons</h4>
							<span>Using Font Awesome Web font</span>
						</div>
					</div>
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-angellist"></i></span>
							<h4>Collapsible menu</h4>
							<span>Collapsible menu in Tablets </span>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-file-text"></i></span>
							<h4>Well documentation</h4>
							<span>Step by step instructions to use menu</span>
						</div>
					</div>
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-life-ring"></i></span>
							<h4>Free Support</h4>
							<span>you Can contact me in my profile</span>
						</div>
					</div>
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i
								class="fa fa-pencil-square-o"></i></span>
							<h4>Easy to use/customizable</h4>
							<span>Well coded Easy to use in website</span>
						</div>
					</div>
					<div class="col-md-3 column">
						<div class="feature-box">
							<span class="feature-icon"><i class="fa fa-eye"></i></span>
							<h4>Coming Soon</h4>
							<span>Theme Option Coming Soon</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@registrationFooter()
<script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "380px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
        
        </script>
</body>
</html>