<div id="header-container">
	<div id="header-content">
		<div id="logo">
			<h1><a id="home-link" accesskey="1" href="https://my.anglia.ac.uk/">My.Anglia</a></h1>
		</div>
		<div id="header-links-container">
			
			<div id="shortlinks">
				<ul>
					<li><a href="http://www.anglia.ac.uk" title="www.anglia.ac.uk - opens in a new browser window">www.anglia.ac.uk</a></li>
					<li><a href="https://e-vision.anglia.ac.uk/" target="_blank" title="e-Vision - opens in a new browser window">e:Vision</a></li>
					<li><a href="http://libweb.anglia.ac.uk" target="_blank" title="Search the Anglia Ruskin University Library catalogue - opens in a new browser window">University Library</a></li>
					<li class="none"><a href="https://webmail.anglia.ac.uk/" target="_blank" title="Access your Anglia Ruskin University email - opens in a new browser window">Email</a></li>	
					<li class="none">
						<form id="google-search-form" name="gs" target="_blank" method="get" action="http://search.anglia.ac.uk/search" title="site-search">
				<label for="google-search-field" class="hidden">Enter search terms to search the Anglia Ruskin University website</label>						
				<input id="google-search-field" name="q" type="text" size="32" style="background-image: url(&quot;/templates/portal/images/google_anglia.jpg&quot;); background-repeat: no-repeat; background-position: center center;">
				<input name="entqr" value="3" type="hidden">
				<input name="sort" value="date:D:L:d1" type="hidden">
				<input name="output" value="xml_no_dtd" type="hidden">
				<input name="ud" value="1" type="hidden">
				<input name="oe" value="UTF-8" type="hidden">
				<input name="ie" value="UTF-8" type="hidden">
				<input name="filter" value="0" type="hidden">
				<input name="client" value="core_search_frontend" type="hidden">
				<input name="proxystylesheet" value="core_search_frontend" type="hidden">
				<input name="site" value="My-Anglia" type="hidden">
				<input id="google-search-button" name="subby" value="Search" type="submit">
			</form>
					</li>
				</ul>
			</div>	
			<div id="header-secondary-content">My.Anglia</div>		
					</div>
				</div>
			</div>